[2020-12-03 00:20] rmjaffe opened #416 "Aerials/Maps Test Pre-Ingest"
## Collection Information

This is a test ingest of a single flight from our aerial photos collection and a map selected from the UCSC Library Maps set.  The purpose of this test load is for us to get a sense of what these materials look like in the current DAMS environment so as to be able make an informed decision about whether to abandon Cdm or not.

### Objects

* Type of content (images, audi

[2020-12-03 00:20] rmjaffe commented on #416
@chesleyperry If you want to select the two test objects, please do.  Just let me know which and I can put together the test ingest spreadsheet.

[2020-12-03 00:22] rmjaffe commented on #59
@afrebert I pulled this card out of the current sprint following the DAMS stakeholders meeting.

[2020-12-03 00:23] rmjaffe opened #417 "(3) Aerials/Maps Test Ingest"
### Descriptive Summary

Test collection of cartographic material.

### Acceptance Criteria

This is what done looks like:

* [x] Test set has been successfully ingested
* [x] Images display properly
* [x] Metadata displays properly

### Related Work

Aerials/Maps Test Pre-Ingest #416

[2020-12-03 16:24] tmariamora commented on #387
I've logged out of everything (vpn/ DAMS) and am seeing the metadata (screenshot attached) so maybe it's actually up in production? Regardless it looks good to me!
![Screen Shot 2020-12-03 at 8 22 39 AM](https://user-images.githubusercontent.com/60992369/101057371-d30dad00-3540-11eb-8798-ff5daa06c855.png)

[2020-12-03 17:09] rmjaffe commented on #387
Yay!  I can confirm that I'm seeing the same in production.

[2020-12-03 18:15] chesleyperry commented on #416
My nomination for the test aerial flight:  1943.  I was looking for a flight that was not too large (this one has 156 images) with only one index.  Most of the individual sheets have geonames locations.  The representative image for the series should be the index: 1943_cja_index_geo.jpg.  @rmjaffe - if that works for you, I will begin copying files to dams_ingest.

[2020-12-03 18:35] NedHenry commented on #390
A known issue with certain complex objects (e.g. [this album](https://digitalcollections.library.ucsc.edu/concern/works/b8515r794)) was fixed today. This record now loads successfully, although the coverpage exhibits the unrelated issue #336.

There is still the issue of collection level descriptions being inherited by works with no descriptions present. Descriptions should be inherited from paren

[2020-12-03 18:37] rmjaffe commented on #416
@chesleyperry That sounds like a good candidate to me.  I'll copy that flight onto a separate spreadsheet. Do we also want to do one of the Standard atlases or 'official' maps?

[2020-12-03 18:41] chesleyperry commented on #416
If possible, I'd like to do 2 map tests.  First is the Atlas of Santa Cruz County, California, 1929 edition from the Standard Map Service Atlases collection.  It has 60 images, mp0001_map_0060.tif - mp0001_map_0107.tif.

The other is a single image - the "Official map of Santa Cruz County: full map", filename is Hatch_Full_Map.tif.  In CONTENTdm, this one is available as a single image and then br

[2020-12-03 18:45] chesleyperry commented on #416
@rmjaffe

For that one - I'd like to have Angelika try to take the 6 tiles and combine them into one image.  She hasn't started on yet though so it isn't likely a good test subject.

[2020-12-03 20:04] JessWaggs commented on #387
I had the same question/concern about QAing as Sue - but I can also see this in prod : )

The only "issue" I see is that the track list is below the yellow alert rather than to the right of it. But that's purely aesthetic. The track list click-thru worked as expected.

[2020-12-03 21:46] chesleyperry commented on #390
For astronomer portraits that have accents in the names, an underline is displaying instead of the accented character. Example: https://digitalcollections.library.ucsc.edu/records/vh53wz85d
Hugo Gyld__n should be Hugo Gyldén

[2020-12-07 21:38] rmjaffe commented on #416
@chesleyperry @NedHenry  Just to confirm -- these test objects will be removed after they've been tested, correct?  The metadata for the Standard Atlas and the Hatch Map is messy, incomplete, and likely not wholly accurate either.  The aerial photo flight is also missing some collection level data despite the flight and sheet level metadata having been remediated.

[2020-12-07 21:58] chesleyperry commented on #416
@rmjaffe  -- That's ok with me.  Since this is a test - we may want to define the success criteria specifically for the test. For example - I'm using this test to evaluate the UV to make sure it displays the appropriate level of detail for the large maps.  I also want to explore the structure for the aerial photos and make sure the parent and child works (and flight indexes) display in a logical w

[2020-12-07 22:10] rmjaffe commented on #416
@chesleyperry That works for me.  As far as the metadata, I'm mostly curious about the structure.  The aerial flight looks like this: aerials collection (collection)-->flight (work)-->sheet (work); whereas the UCSC Library Maps are a bit different.  The Standard Atlas example: library maps collection (collection)-->standard atlas collection (collection)-->atlas (work)-->page (work).  This is equiv

[2020-12-07 22:17] rmjaffe commented on #416
Copy of the metadata spreadsheet is here: https://drive.google.com/file/d/1oG0GKGt05DWFvqR8CsZ6j5APYAo9HTul/view?usp=sharing

Please review before moving to dams_ingest.

[2020-12-07 22:38] rmjaffe commented on #416
And here it is in the DOMTP share: smb://artifacts2.library.ucsc.edu/DOMTP/Pre-ingest/Maps_Aerials_Test_Ingest_20201207.xlsx

[2020-12-08 21:12] chesleyperry commented on #56
I'm finding a few different issues so creating a separate QA and bug ticket for Lick

[2020-12-08 21:21] chesleyperry opened #418 "(2) Lick Work Titles with accented characters not diplaying"
### Descriptive Summary

A short description of the feature, including wireframes, screenshots, or videos if available.

https://digitalcollections.library.ucsc.edu/concern/works/vh53wz85d?locale=en:  Accented character in title diplaying as _.  Hugo Gyldén displaying as Hugo Gyld__n

https://digitalcollections.library.ucsc.edu/concern/works/j9602402h?locale=en:  Rudolf Lehmann-Filhés displaying

[2020-12-08 21:46] chesleyperry opened #419 "Lick Images not Displaying Properly"
### Descriptive Summary

Some images in the Lick Observatory collection are not displaying properly.  3 images are displaying with the wrong orientation and the others are displaying broken icon images or the generic compound object icon.
The link for the work display page is listed below along with the filename and the issue.  I've checked to make sure the files are correctly named and located on

[2020-12-09 16:59] rmjaffe commented on #418
@NedHenry Let me know if there's anything I can do on my end in terms of helping resolve this or preventing it from happening in future ingests.

[2020-12-09 19:16] NedHenry commented on #223
Indeed, the CSS change that Ryan implemented to make the thumbnails square also shrinks them. Good catch! It is possible to try to work around this in CSS, but my understanding is that solution is a little hack-y.
We can generate actual square thumbs using our image server. I just need to make sure that won't be too slow; if our caching of derivative images on the image server is working correctly

[2020-12-09 19:39] NedHenry commented on #223
It's actually a little complicated to figure out which view file to patch in order to update the html for these thumbnails. I think it's in Blacklight, but it might be in one of the other Samvera gems. Hopefully I'll sort it out soon.

[2020-12-09 19:44] NedHenry commented on #387
As you have all noticed, the metadata display is already on production. There is also a styling change on staging that makes the track list display beside the yellow box as shown in the image above (and mock up).

Sorry it is difficult to do QA on these in staging. I can set up a special authentication backdoor for you to view the staging site from off campus for this kind of QA. I have done this

[2020-12-09 19:46] rschwab commented on #223
It's in Blacklight Gallery. I'm working on them now with the search results title ticket.

/app/views/catalog/_index_gallery.html.erb

[2020-12-09 19:54] NedHenry commented on #223
Awesome, thanks! If it's easy for you to change the thumbnail URL at the same time, square thumbnails URLs can be generated in view scripts with the helper function: `square_thumbnail_url(document)` defined [here](https://github.com/UCSCLibrary/ucsc-library-digital-collections/blob/master/app/helpers/ucsc_thumbnail_helper.rb).

[2020-12-09 20:31] NedHenry commented on #419
I triaged these issues. Except for the three images with rotation issues, all of the problems look like unexpected file ingest issues that aren't part of any particular pattern. It should be straightforward for me to fix these files manually, and then add this type of issue to the post-ingest automatic verification scripts (which I'm working on some this week).

[2020-12-09 20:42] rmjaffe commented on #158
@chesleyperry Ingest metadata is ready to go.

[2020-12-09 23:22] afrebert commented on #419
Rotated
ua0036_pho_0058.tif and ua0036_pho_0058a.tif
ua0036_pho_0045.tif and ua0036_pho_0045a.tif
Image displaying sideways | ua0036_pho_0041
I also checked the first image that doesn't display (ua0036_pho_1284.tif), but it doesn't look like there's anything wrong with the image

[2020-12-10 19:08] JessWaggs opened #420 "(1) Collection Description Box Styling Issues"
### Descriptive Summary

In QAing the Lick and aerials/maps test ingests, we've notes a couple issues with the collection description box:

1. Text overrunning image: When my browser viewport is at a smaller width, the text of the collection description box overruns the image.
2. Metadata source text overlapping with collection guide link: When my browser viewport is at a smaller width, the text o

[2020-12-10 20:11] rschwab commented on #223
@NedHenry I'm not sure how to pass it just the URL. This is the function its using, and it expects a document as the first parameter: https://www.rubydoc.info/github/projectblacklight/blacklight/Blacklight%2FCatalogHelperBehavior:render_thumbnail_tag

Here is the full partial:
`<div class="document col-xs-6 col-md-3">
  <div class="thumbnail">
    <%= render_thumbnail_tag(document, {'data-toggle'

[2020-12-10 21:37] NedHenry commented on #223
Gotcha, yeah, I was noticing the same thing. It'll be easier to override that function and supply a custom URL. I'll write a helper to do that.

[2020-12-10 22:15] rmjaffe commented on #420
@JessWaggs Thanks for creating this card!  I noticed this too and failed to remember to ask about it.

[2020-12-10 22:16] #416 closed

[2020-12-10 22:16] #158 closed

[2020-12-11 01:09] rschwab commented on #249
Pull request linked in mention above.

Screenshot:
![249-titles](https://user-images.githubusercontent.com/515412/101848489-772bc100-3b0a-11eb-9e01-c2e956a316f9.png)

[2020-12-11 01:16] rschwab commented on #40
@JessWaggs I should've asked in planning, but I hadn't noticed that there was some ambiguity on this ticket. Is the goal to remove breadcrumbs, or to show the full titles instead of a truncated version?

[2020-12-11 20:00] NedHenry commented on #419
I found and fixed the mysterious issue that was making some of these file ingests fail, and I re-ingested the rotated images. Now I believe that all of these images display correctly except the one that had no filename included in the metadata (ua0036_glp_0480)

The fixed problem was caused by restricted permissions on some of the files in the Fedora repository. I reset the permissions of all file

[2020-12-14 17:04] NedHenry commented on #418
I resolved this for the Lick works, but have not yet gone back and ensured that it will not happen again. That requires revisiting the Github API, which changes periodically.
It should be a straightforward code change to resolve this for the immediately future. It will be more challenging, but still worthwhile, to write a test to automatically check that this functionality is working. This test is

[2020-12-15 19:08] chesleyperry commented on #389
I'm having a difficult time viewing the collections on staging dashboard (https://digitalcollections-staging.library.ucsc.edu/dashboard/collections?locale=en).  it gives the error message - "we're sorry but something went wrong."

Here's the direct link to the staging combined collections page: https://digitalcollections-staging.library.ucsc.edu/collections/3x816q48g?locale=en

Issues:
1. I think

[2020-12-15 19:15] rmjaffe commented on #329
Update: Metadata has been received from donor.

[2020-12-15 19:42] chesleyperry commented on #419
@afrebert - I don't see that last missing image in any of the _MOD folders for Lick but there is a copy in the _ORIG folder.  Could you take a look at that image (/diginit2/ua0036_lick_obsv/ua0036_glp/ua0036_glp_ORIG/ua0036_glp_0401-0500/ua0036_glp_0480.tif) and create a modified version?  Then copy it to dams_ingest/ua0036?

[2020-12-15 19:55] chesleyperry commented on #419
All images are checked and display correctly now.  One issue:

https://digitalcollections.library.ucsc.edu/concern/works/0k225f36k is the same metadata  as https://digitalcollections.library.ucsc.edu/concern/works/fq977x57q but the first link displays the generic icon in search results and no image on the work display.  Can we just delete the first record (https://digitalcollections.library.ucsc.e

[2020-12-15 20:26] afrebert commented on #419
Sure, no problem!
~Angelika
–––––––––––––––––––––––––––––––
Angelika Frebert
Technical Project Manager, Digital Imaging Specialist
Digital Initiatives, UCSC Library
afrebert@ucsc.edu

On Tue, Dec 15, 2020 at 11:42 AM chesleyperry <notifications@github.com>
wrote:

[2020-12-15 22:24] rmjaffe opened #421 "(5) Customizing the display of searchable metadata properties"
### Descriptive Summary

As in Cdm, the values in searchable metadata fields are by default linked within metadata display.  From both a functional or an aesthetic perspective, this is not ideal.  Ned has presented two options for remediating this:

1. Do not make the descriptions searchable (but still include them in the full text search)
2. Do not make every searchable field display as a link. O

[2020-12-15 22:25] rmjaffe commented on #421
This ticket needs more work.  Specifically, the acceptance criteria need to be better defined.  It also needs to be determined if this work is related to or best done before/after/as part of the Configuration File Overhaul #77 epic.

[2020-12-15 22:55] rschwab commented on #40
Pull request linked above.

Screenshot:
![Firefox_Screenshot_2020-12-15T22-54-09 039Z](https://user-images.githubusercontent.com/515412/102282506-8ed9bf80-3ee5-11eb-996c-4da427a3deb0.png)

[2020-12-16 01:03] rmjaffe opened #422 "Degree symbol appearing as underscore"
### Descriptive Summary

In the metadata records for the sheets ingested into the staging server as part of the Aerials/Maps Test Ingest #417 where the degree symbol appears within the coordinate data it is not displaying properly.  Instead of the degree symbol (e.g. (W 122°20'00"--W 121°53'28"/N 37°13'45"--N 36°56'10") included in the ingest metadata, it displays as a long underscore, e.g. https:

[2020-12-16 02:10] NedHenry commented on #422
Fixed!

[2020-12-16 02:10] #422 closed

[2020-12-16 06:13] NedHenry commented on #223
The new thumbnail code is in place. It successfully un-squishes the search result thumbnails. Please let me know if anyone notices any broken thumbnails or slow loading thumbnails anywhere on the site as a result of this change.

<img width="1407" alt="Screen Shot 2020-12-15 at 10 06 16 PM" src="https://user-images.githubusercontent.com/6326776/102311932-99667a00-3f22-11eb-9ff4-d198f18dfe27.png">

[2020-12-16 06:41] NedHenry commented on #404
I added a fix that is a bit ugly, but it should work. I'm pretty sure this happened because Blacklight uses glyphicon chevron symbols for the previous and next links, and Bootstrap reserves those for showing and hiding content. I think the bootstrap javascript messed up the links on the Blacklight pagination.
Instead of trying to override all the blacklight view scripts, I just added a little java

[2020-12-16 18:34] #390 closed

[2020-12-16 18:34] #56 closed

[2020-12-16 18:34] #418 closed

[2020-12-16 18:49] rschwab commented on #366
Noting here Kate's request for Created Date sorting.

[2020-12-21 21:56] rmjaffe commented on #334
Metadata spreadsheet for the MS 20 has been completed for rows that have corresponding image files on diginit.  Rows that have missing files have been pulled onto a second tab of the spreadsheet.  These can easily be removed or cleaned up and added to the ingest tab depending on our decision making.

[2020-12-23 05:57] NedHenry commented on #324
I looked into this issue today. I would probably assign 5 points to finishing this task, mostly just because of having to re-index the whole collection. This is mostly a task that will run in the background while I do other things, but it may take some babysitting.

- The config file needs to updated to mark which fields need to be sortable
- The entire collection needs to be re-indexed to reflect

[2020-12-23 16:36] rmjaffe commented on #414
QA -- Just confirming that yes, the collection guide link points to the CMF database.

[2020-12-23 16:36] #414 closed

[2020-12-23 16:39] rmjaffe commented on #413
This is functionality if back for me -- I'm able to page through the collections in the dashboard's 'all collections' area without issue.

[2020-12-23 16:40] rmjaffe commented on #384
Source notes look good on the collection landing pages for the collections that have them, i.e. SC Co. History Photos and RMB-PJ.

[2020-12-23 16:40] #384 closed

[2020-12-23 22:47] rmjaffe commented on #59
QA: Looked at Kofsky.  Images and metadata are all accounted for.  Everything looks good to save for the lack of info in the collection description box on the collection landing page:  collection description, link to the finding aid in OAC, and thumbnail. I overlooked this.  When we're all back, I'll follow up with SC&A and plug that stuff into the metadata.

[2021-01-04 22:55] rmjaffe commented on #389
@chesleyperry & @JessWaggs before publishing this [combined campus history landing page](https://digitalcollections.library.ucsc.edu/collections/3x816q48g?locale=en), are there any display/styling issues that need to be resolved first?  I remember the line spacing being an issue (see Sue's comment above). If so, have fix tickets been created for each of these?

[2021-01-04 23:04] rmjaffe commented on #59
Update:  Collection description has been added.  @chesleyperry Did you want to do any additional QA?  I paged through the entire collection and opened up many of the item pages.  Did you want to do any additional QA before we publish?

[2021-01-05 17:32] chesleyperry commented on #59
Checked all images for orientation and display issues - no problems.
Checked all links and facets for display or linking issues - no problems.
This is ready to publish and add to the home page.

[2021-01-05 17:34] #59 closed

[2021-01-05 18:29] NedHenry commented on #389
@chesleyperry fixed

[2021-01-05 20:20] chesleyperry opened #423 "(1) View all collections button doesn't work if someone uses the "browse collections link""
### Descriptive Summary

Reported by a user:  "I'm using Chrome, and I have found on four occasions (twice yesterday and twice today) that, upon first arriving on the homepage, the "View All Collections" button doesn't open up and display all the other collection boxes as it should unless I immediately refresh the homepage and then try again. Once I do that it seems to function as I imagine it sho

[2021-01-06 18:21] chesleyperry commented on #57
**QA:**

Only issue of note is that the collection landing page needs a representative image.  Should be ready to publish after that is added.

### Details

- All images briefly checked in authenticated[ list display](https://digitalcollections.library.ucsc.edu/dashboard/works?f%5Bmember_of_collections_ssim%5D%5B%5D=Branson+DeCou+Archive&locale=en&page=32&per_page=100) for broken image links and o

[2021-01-06 18:28] chesleyperry commented on #249
Looks like this is finished.  See https://digitalcollections.library.ucsc.edu/collections/6108vf26h?locale=en&page=19 as an example.

[2021-01-06 18:29] chesleyperry commented on #413
Works for me too.  Moving it to done.

[2021-01-06 18:39] chesleyperry commented on #419
@NedHenry
It looks like all the problems are fixed except
https://digitalcollections.library.ucsc.edu/concern/works/3j333551z
ua0036_glp_0480

Angelika has added a new image to dams_ingest - ua0036_glp_0480.tif

Once that image gets ingested, I think this ticket is done.

[2021-01-06 18:49] rmjaffe commented on #57
@chesleyperry This falls in the 'something to note' category.  Series/sub-series, especially in connection with the facets, is something that has been on my mental back-burner as topic for future discussion.  In the case of DeCou, it would probably be better for the sub-series values (Cuba, California, etc.) to be used in place of the series values for the 'series' facet.

As far as the representa

[2021-01-06 18:51] chesleyperry commented on #225
This looks finished to me.  @JessWaggs - can you take a look and move it to done if you agree it's completed?

[2021-01-06 18:53] chesleyperry commented on #223
@JessWaggs - I think this is completed but could you take a look and let me know if you agree?

[2021-01-06 18:57] chesleyperry commented on #40
This looks good to me on staging.  @JessWaggs can you take a look?  Then I think it can be put into production.

[2021-01-06 23:23] rmjaffe opened #424 "(1) Config File Overhaul Epic: Review & Research Cards"
### Descriptive Summary

Before cracking open this, epic it's a good for each of us to refamiliarize ourselves with the cards and to possibly have some preliminary conversation.

### Acceptance Criteria

This is what done looks like:

* [x] Cards have been reviewed & comments added on where there are questions or more research or decision making is needed.

[2021-01-06 23:25] rmjaffe commented on #117
@JessWaggs This card requires more research and/or likely a better needs assessment.

[2021-01-06 23:31] rmjaffe opened #425 "Add subject terms to collection-level metadata records"
### Descriptive Summary

In order to enable collections to be matched when searching, the collection level records need to contain subject terms.  Collections will need to be subject analyzed and/or subject terms assigned to the collection's MARC finding aids will be copied into the DAMS records.

### Background

This approach is much simpler and more straight forward than pulling subject terms as

[2021-01-07 03:39] rmjaffe opened #426 "(1) Create Santa Cruz County History Collection of Collections & c-of-c landing page"
### Descriptive Summary

We would like to create new collection of collections for the Santa Cruz County History Collections.  Collections to be included in this collection group are:

Santa Cruz County History Photographs (MS 427) -- already ingested
Alexander Lowry (MS 188)
Vester Dick (MS 235)
Chuck and Esther Abbott (MS 39)

*MS 188, MS 235 & MS 39 will all be ingested on a single spreadsheet.

[2021-01-07 17:13] rschwab commented on #423
This was caused by a conflict with the javascript I wrote and Turbolinks, which is a part of rails that improves page loads. I had to replace a function in several javascript files, so testing should ideally be done on:
- The view all collections button
- The citation copy button
- The embed widget functionality
- The show/hide facets button
- The title tooltips loading on search results pages

[2021-01-07 18:44] rschwab commented on #249
I checked about a dozen titles that had bled over to three lines. Reducing the character limit from 40 to 35 ensures two lines on all of them. I'll check with @NedHenry about whether this should be a pull request or just a quick fix on his part.

[2021-01-07 19:10] JessWaggs commented on #249
Looks good to me! Title pop-overs worked as expected and I didn't see any titles beyond two lines on the results pages.

[2021-01-07 19:14] JessWaggs commented on #223
@chesleyperry Yep! This looks good!

[2021-01-07 19:15] JessWaggs commented on #225
@chesleyperry Yes - checked on my mobile device and this looks good!

[2021-01-07 19:21] JessWaggs commented on #40
@chesleyperry Displayed and behaved as expected - looks ready for prod to me!

[2021-01-07 19:22] #40 closed

[2021-01-07 19:30] chesleyperry commented on #204
Following photos are in the diginit2/MS0188 Alexander Lowry directory but are campus photos, and not Santa Cruz County Photos.  They do not seem to be published in CONTENTdm or the DAMS campus history collection.  For now, I'll move them into a separate folder. @tmariamora, @katedundon  and @rmjaffe Do you want to eventually add them to the MS188 ditial collection or finding aid?
ms0188_pho_0025.t

[2021-01-07 19:37] tmariamora commented on #204
Hi Sue,

If you send me the path once you've moved them I can review to try and determine if they really are from MS188.

Thanks.

Teresa

[2021-01-07 19:40] chesleyperry commented on #204
Path for photos in question: //artifacts2.library.ucsc.edu/diginit2/ms0188_alexander_lowry/Campus_Photos_not_DAMS_ingested
Path for the spreadsheet that describes them:
//artifacts2.library.ucsc.edu/diginit2/ms0188_alexander_lowry/ms188_alexander_lowry_metadata.xls

[2021-01-07 22:11] chesleyperry commented on #204
Notes on ms0039 Abbott filenaming:
the filenaming on this collection was very inconsistent (some leading zeroes, some not).  I updated the filenames to match the spreadsheet, rather than updating both to bring them into conformity with best practices.

[2021-01-08 17:42] tmariamora commented on #204
Hi all,

I've reviewed more closely and the identified photos are indeed described in the FA. I was able to find all but one of the images in CDM; see links below. I'm not sure how we want to proceed with the one item not currently in CDM but it could certainly be added to Campus History along with the others.

ms0188_pho_0025.tif: http://digitalcollections.ucsc.edu/digital/collection/p265101coll2

[2021-01-08 17:51] rmjaffe commented on #204
Hmm.

This presents an interesting situation in which we would have one collection, MS 188, of which some images would belong to one collection of collection or supra-collection, and other images to another supra-collection.

I think before we do anything with these 5-6 images or ingest the combined SC County history collections spreadsheet, we'll want to consult with @NedHenry.  I'd like to get h

[2021-01-11 19:01] rmjaffe commented on #192
@chesleyperry Just deleted the Porter bucket in Cdm.

[2021-01-11 19:03] rmjaffe commented on #120
@chesleyperry Just deleted the UCSC Public Information Office Photographs, UCSC Photography Services Photographs, and UCSC Campus History - Photographs and Maps buckets from Cdm.

[2021-01-11 20:05] NedHenry commented on #372
Finally got the last step of this working

[2021-01-11 20:05] #372 closed

[2021-01-11 23:58] rmjaffe commented on #204
@chesleyperry I put the six outstanding Lowry images (those that will connected to the campus vs. the local history bucket) on a second, new spreadsheet.  It's in the DOMTP share: smb://artifacts2.library.ucsc.edu/DOMTP/Pre-ingest/MS_188_Lowry_Campus_20210111.xlsx

There's still a few metadata pieces remaining on the spreadsheet for the rest of the material -- let me know when you and Angelika are

[2021-01-12 19:25] chesleyperry commented on #204
Filenames for all three collections checked against the spreadsheet - no issues with the spreadsheet but I did rename several of the Chuck and Esther Abbott images to match the spreadsheet.
Exiftool run on modified tiff directories for all three collections.  Had issues with it hanging on the Vester Dick folder until I renamed the directory and took out special characters ()?  Once this collection

[2021-01-12 20:19] chesleyperry opened #427 "(-) Shakespeare Santa Cruz landing page broken icon links for images"
### Descriptive Summary

Shakespeare Santa Cruz Collection landing page displays broken icon links for many images.
See screenshot
![Screen Shot 2021-01-12 at 12 15 10 PM](https://user-images.githubusercontent.com/18403313/104367638-f462a100-54cf-11eb-83a4-25e336774f21.png)

The work pages don't seem to be affected.

### Acceptance Criteria

* [ ] Landing page images display as expected.

### Expe

[2021-01-12 23:13] chesleyperry commented on #423
Chrome/Mac:
The view all collections button - works!
Embed image works!
Show/hide facets works!
Title tooltips on search results pages - works

[2021-01-12 23:16] chesleyperry commented on #389
@NedHenry I checked the featured collection link on staging - functions and looks good.  I think this is ready to deploy to production.

[2021-01-12 23:17] chesleyperry commented on #120
Google search console and Google Analytics work will be done after CONTENTdm comes down and we can control the digitalcollections.ucsc.edu domain name.

[2021-01-13 17:32] rmjaffe commented on #204
@chesleyperry Once I get the info from SC&A, I'll update the ingest spreadsheet with collections descriptions and finding aid links.  After that it should be ready to go.

@NedHenry & @chesleyperry I'm thinking it would be a good idea to create a separate ingest card for the Lowry campus stuff, i.e. the six images from MS 188 that will belong to the campus history super-collection vs. the county h

[2021-01-13 18:00] rmjaffe commented on #204
Spreadsheet has been updated: smb://artifacts2.library.ucsc.edu/DOMTP/Pre-ingest/Local_History_Collections_20201005.xlsx

This should be used as the representative image for the county history collection of collections:  http://digitalcollections.ucsc.edu/digital/collection/p265101coll23/id/156/rec/41

[2021-01-13 18:06] #407 closed

[2021-01-13 18:14] rmjaffe commented on #426
This should be used as the representative image for the county history collection of collections: http://digitalcollections.ucsc.edu/digital/collection/p265101coll23/id/156/rec/41

[2021-01-13 18:25] rmjaffe commented on #421
1/13/21 -- Decision to proceed with option 2.

[2021-01-13 18:49] rmjaffe opened #428 "Ingest 6 images from Lowry (MS 188)"
## Collection Information

These six images belong to the Lowry collection, but will need to be associated and made discoverable as part of the Campus History Collections super-collection.

**We still need to determine how to best provide for this circumstance, i.e. a collection whose works are split between two super-collections.**

### Acceptance Criteria
-[ ] These six images are ingested as me

[2021-01-13 18:57] rmjaffe commented on #428
Question for @JessWaggs and @chesleyperry :  Will we want MS 188 to appear on both the campus history and county history super-collection landing pages?

[2021-01-13 18:57] #410 closed

[2021-01-13 18:57] #406 closed

[2021-01-13 18:57] #223 closed

[2021-01-13 18:57] #225 closed

[2021-01-13 18:58] #419 closed

[2021-01-13 18:58] #57 closed

[2021-01-13 18:58] #417 closed

[2021-01-13 18:58] #420 closed

[2021-01-13 18:58] #387 closed

[2021-01-13 18:59] #413 closed

[2021-01-13 18:59] #404 closed

[2021-01-13 20:04] #249 closed

[2021-01-14 18:13] NedHenry commented on #427
This seems to have been an ingest issue when these items were ingested. The height of the files was not properly save along with the fileset, so the code to find the dimensions of a square thumbnail was failing. While the original issue was present all along, it did not cause any noticeable problems until the square thumbnails were implemented a few months ago (when we overhauled collection landin

[2021-01-14 18:13] #427 closed

[2021-01-14 18:18] #108 closed

[2021-01-14 19:24] NedHenry commented on #411
I updated the collection thumbnails according to the document provided, and altered the homepage thumbnail display to always use higher-res thumbnails from the image server. This issue should be ready to close, but can be QA-ed first if anyone is interested.

[2021-01-21 21:33] chesleyperry commented on #62
Collections all ingested and look great.

On the pre-ingest ticket, Rachell noted the representative image for the county history collection of collections: https://digitalcollections.library.ucsc.edu/concern/works/1r66j483b

[2021-01-22 20:48] rmjaffe commented on #62
Metadata looks great and it looks like the Lowry photos were mapped correctly to their respective grandparent collections, i.e. campus collections and county history collections.

[2021-01-22 22:25] rmjaffe commented on #271
@chesleyperry When you wrap up #120, would you mind closing out this epic? :)

[2021-01-22 23:11] rmjaffe commented on #428
Ned was able to address this as part of the larger Lowry ingest.

[2021-01-22 23:11] #428 closed

[2021-01-22 23:17] rmjaffe opened #429 "(2) MS 20: Remove subseries property from metadata"
### Descriptive Summary

Remove the subseries property and values from metadata records for this collection.

### Background

When we re-ingested the metadata for this collection (in order to impose the image grouping), the subseries property present in the original ingest had been removed from re-ingest metadata spreadsheet.  However, upon ingest the older metadata was not stripped out, rather it

[2021-01-25 22:14] chesleyperry opened #430 "(3) Redirect CONTENTdm domain and urls"
### Descriptive Summary

In order to make a smooth transition from users accessing existing content in CONTENTdm to the new digital collections site, we need to redirect traffic from the old domain to the new one.  Once the CONTENTdm site is shut down, we'll gain control of the domain "digitalcollections.ucsc.edu".  We'll need to work with campus network operation to redirect the domain, and put r

[2021-01-26 17:41] NedHenry commented on #324
I believe that the coding part of this is complete, though it has not been thoroughly tested in every relevant situation. It requires re-indexing our entire collection with these sorting properties, which takes a couple of days. This re-indexing is currently in progress.

[2021-01-26 17:49] NedHenry commented on #426
I just set the county history collection's thumbnail to the correct image linked by Rachel above

[2021-01-26 20:47] rmjaffe opened #431 "(1) Santa Cruz County History Collections super-collection"
### Descriptive Summary

This ticket documents the last steps in completing the work of creating the Santa Cruz County History Collection super-collection.

### Acceptance Criteria

* [ ] The Santa Cruz County Historic Photograph Collection (MS 427) is added as a child collection of the Santa Cruz County History Collections super-collection (along with Lowry, Dick and Abbott).
* [ ] Santa Cruz Cou

[2021-01-26 21:07] rmjaffe commented on #431
This looks great to me -- @chesleyperry want to have a look?

[2021-01-26 23:10] NedHenry commented on #366
This work was pretty much all done while working on UCSCLibrary/dams_project_mgmt#324. Adding the sort property to the config file turned out to be the easiest way to do the work in that issue.
That issue is still in progress because it requires a re-index of the whole collection. Once that work is completed and tested, all we need for this issue is to document the config file better (which is mos

[2021-01-26 23:21] NedHenry commented on #229
Currently, the list of these properties of metadata properties is defined [here](https://github.com/UCSCLibrary/ScoobySnacks/blob/master/lib/scooby_snacks/metadata_schema.rb). The list of "SS_BOOLEAN_ATTRIBUTES" contains all the true/false properties. The "SS_STRING_ATTRIBUTES" contains all the properties with text values. The "SS_DISPLAY_GROUPS" contains all the possible display-related groups th

[2021-01-26 23:59] NedHenry commented on #224
I'm linking this to the metadata configuration file property-of-properties issue, because each metadata property will need a property to determine whether or not it causes its parent collection to be matched in a search.

[2021-01-27 01:11] rmjaffe commented on #366
@NedHenry -- Thanks for the update.  Based on what you've shared, I'll close this ticket out move it to done.

[2021-01-27 01:11] #366 closed

[2021-01-27 01:13] rmjaffe commented on #366
Also unblocked UCSCLibrary/dams_project_mgmt#277 and UCSCLibrary/ucsc-library-digital-collections#375.

[2021-01-27 01:17] #408 closed

[2021-01-27 01:18] #409 closed

[2021-01-27 01:27] rmjaffe commented on #424
@NedHenry has already done this; comment have been left on other cards within the epic.

[2021-01-27 01:31] rmjaffe commented on #224
In conversation with @JessWaggs we've decided to enable collections to be matched by adding subject terms to the collection-level metadata records, Add subject terms to collection-level metadata records UCSCLibrary/ucsc-library-digital-collections#378.  This has been added as a prerequisite under related work.

[2021-01-27 01:35] JessWaggs commented on #356
[UI documentation](https://docs.google.com/document/d/1dRE7Tvq8278SsJa0QIaAL11jf3_N9_rHU3lNuR2a29I/edit#) - as far as we can currently go

[2021-01-27 17:52] rschwab commented on #277
@JessWaggs Few questions:
1. What should the text of the "Our Collections" box be? This will need to be figured out before the ticket can be completed.
2. Should the A-Z order go row first (left to right, then down), or in columns first?
3. Should the collection description text be truncated, and if so what limit?

[2021-01-27 17:59] rschwab commented on #358
@JessWaggs the mockup is still needed for this, right?

[2021-01-27 18:17] NedHenry commented on #31
@rmjaffe Responding to your comment from last year: this issue is separate from that work. This one is about quality control of the code, rather than the content. This is related to #372, which was recently completed. It now makes sense to move forward with this issue.

[2021-01-27 18:26] NedHenry opened #432 "(8) Reach 50% test coverage"
### Descriptive Summary

Our code is currently at 30% test coverage (meaning our test suite executes 30% of the lines of our code. Errors in the other 70% would not be found in the test coverage).
We want as much of our code covered as possible. It should be possible to get to at least 50% without too much work.

### Background

Our automated tests run whenever we deploy new code. If any of the te

[2021-01-27 18:31] JessWaggs commented on #399
Have been unable to find other DAMS with Aeon request buttons. JW will check in with Kate.

[2021-01-27 18:36] rmjaffe commented on #31
@NedHenry Cool.  I'll move this up the ladder in Ready for Development.  I think it's good timing given the test coverage work you'll be doing this sprint and that our likely next ingest will be more audio material (the Morton Marcus poetry show).

[2021-01-27 18:43] #117 closed

[2021-01-27 18:43] #424 closed

[2021-01-27 18:44] #431 closed, assigned to NedHenry

[2021-01-27 18:44] #426 closed

[2021-01-27 18:44] #423 closed

[2021-01-27 18:44] #62 closed

[2021-01-27 18:44] #411 closed

[2021-01-27 18:44] #389 closed

[2021-01-27 18:45] #204 closed

[2021-01-27 18:51] rmjaffe commented on #191
This card is duplicative of/has been succeeded by Add thumbnails and representative images to ingest spec #361.  Closing this card and moving to Done. No points assigned.

[2021-01-27 18:51] #191 closed

[2021-01-27 18:55] rmjaffe commented on #111
Closing this ticket.  In light of SILS, this work of getting our collections up in our local Primo instance is moot.  More than likely our digital collection content will be shared to the SILS Primo layer via Calisphere.

[2021-01-27 18:55] #111 closed

[2021-01-27 18:58] rmjaffe commented on #100
Closing this stub ticket.  A new ticket better describing this work in relationship to Calisphere/SILS can be recreated after we've had a conversation with CDL about harvesting/reharvesting our collections to Calisphere:  Have conversations with CDL & Metadata Services about sharing/harvesting to Primo & Calisphere #90

[2021-01-27 18:58] #100 closed

[2021-01-27 19:00] rmjaffe commented on #91
@NedHenry @chesleyperry I'm doing some housekeeping on the project board. Is this still an issue?

[2021-01-27 19:21] rmjaffe opened #433 "Preparation and Ingest of the Aerial Photographs Collection"
### Descriptive Summary

This epic pulls together the work required to prepare and ingest our legacy aerial photographs collection into the DAMS.

### Acceptance Criteria

* [ ] Pre-Ingest Aerials UCSCLibrary/dams_project_mgmt#168
* [ ] Ingest Aerials UCSCLibrary/ucsc-library-digital-collections#372
* [ ] Post-Ingest Aerial Photographs Collection UCSCLibrary/dams_project_mgmt#300

### Related Work

[2021-01-27 19:25] rmjaffe commented on #433
@chesleyperry @afrebert I'm in the process of creating separate epics for work on the aerials and on the campus pubs.  Do you want to include a link here to your aerials project board?  Please feel free to add to or edit this epic card.

[2021-01-27 19:29] rmjaffe opened #434 "Preparation and Ingest of Campus Publications"
### Descriptive Summary

This epic pulls together the work required to prepare and ingest our legacy campus publications into the DAMS.

### Acceptance Criteria

_Pre-ingest, ingest, and post-ingest cards have not yet been created for this ingest/epic; there is only a single ticket (below).  This work likely requires more discussion first as well as the creation of cards related to research and st

[2021-01-27 23:33] #192 closed

[2021-01-27 23:33] #120 closed

[2021-01-27 23:33] #356 closed

[2021-01-28 20:07] chesleyperry commented on #430
@NedHenry - here is the list of redirects from CONTENTdm to the new DAMS or other places on the website: https://docs.google.com/spreadsheets/d/16awNMS3UzCbyuOhEGzXUwu_JGaNHuQQjDdyeLH6Tgs0/edit#gid=1101988072
If there's a different way to format this so it'll be easier on you, just let me know.

[2021-01-28 23:14] chesleyperry commented on #294
@NedHenry It looks like these three collections need to be made public.  When I was doing the QA work and declaring these collections done, I was logged in so I didn't realize that one last step needed to be taken.  Could you switch them to public?

[2021-01-29 00:29] rmjaffe commented on #425
@tmariamora @katedundon As I go about assigning collection-level subject terms, I plan to refer to the finding aids on OAC.  Are LCSH subject terms generally found in the collection details, or might they appear in other sections of the finding aids?

[2021-01-29 16:36] katedundon commented on #425
@rmjaffe you are correct- subject terms in OAC finding aids are in Collection Details under Indexing Terms (or sometimes the heading Subjects and Indexing Terms). They can also be found in the collection level catalog record.

[2021-01-29 19:44] rmjaffe commented on #425
@NedHenry I just went into the Harry Mayo collection to add subject terms to the collection level metadata, but it doesn't look like there's the option.  When clicking [Edit Collection](https://digitalcollections.library.ucsc.edu/dashboard/collections/2n49t173w/edit?locale=en), the Title, Abstract/Summary and Thumbnail properties are exposed.  And when I clicked on Additional Fields, as few more o

[2021-02-01 22:38] JessWaggs commented on #277
@rschwab

1) @rmjaffe - Can you check with Spec Coll on this? I'm thinking something short that just explains what digital collections are and what users can expect to find would be ideal

2) Let's go left to right

3) Can we truncate text so that it doesn't go beyond the height of the thumbnails?

[2021-02-01 22:49] rmjaffe opened #435 "(3) Enhance collection metadata editing form"
### Descriptive Summary

Presently it doesn't seem possible to add subject terms (among other metadata) to the collection level metadata records. When clicking **Edit Collection**, the Title, Abstract/Summary and Thumbnail properties are exposed. And when clicking on **Additional Fields**, as few more but not all options revealed themselves. Ex: https://digitalcollections.library.ucsc.edu/dashboar

[2021-02-01 23:19] rmjaffe commented on #277
@tmariamora @katedundon:  May I ask you two come up with a general description of our digital collections?  As Jess said above: something short that just explains what digital collections are and what users can expect to find would be ideal.  This language will display in an 'our collections' box at the top of the A-Z collection page in the DAMS.  There is a mockup above in the work description.

[2021-02-02 00:27] tmariamora commented on #277
Sure. Can we get a deadline? This week is crazy for me ;)

[2021-02-02 00:51] rmjaffe commented on #277
@rschwab @JessWaggs When do you need the digital collection text by?

[2021-02-02 01:08] rschwab commented on #277
I'm just starting work on this ticket, so its not blocking me at all. Once my work is done we will need this text before this page can go into production.

[2021-02-02 22:09] rmjaffe commented on #277
@tmariamora Our current sprint ends next Wednesday, 2/9 but I'm OK with delaying publication of the page in order to give you the time you need to draft something.  If a deadline helps, would next Friday 2/12 do?

[2021-02-02 22:46] chesleyperry commented on #383
@NedHenry:
QA Bug report:  When I click on the "more" link in the facets on the main collection landing page
(http://digitalcollections-staging.library.ucsc.edu/collections/fx719m62f), I get a "network error" message.  This occurs when I click "more" on any of the facet boxes.  I get the same error when clicking on the "more" link from the collection search results page (http://digitalcollections-

[2021-02-02 23:10] tmariamora commented on #277
That should work. Thanks!

[2021-02-02 23:51] rmjaffe opened #436 "Bulk Ops Overhaul"
### Descriptive Summary

This epic pulls together outstanding and anticipated improvements we want to make to our bulk ingest process.  This work is not urgent but it would eliminate/reduce the need for some of the workarounds that are currently in place.  It would also make our code more shareable.

This epic is organized into two parts:

1. Testing our bulk ingest code, which in part involves cr

[2021-02-03 17:47] NedHenry commented on #217
Currently, malformed dates are not saved in Fedora. Whenever a work is saved, the format of the date is automatically checked and any date than cannot be interpreted is discarded. This makes this scenario hypothetical and difficult to replicate. I think it's safe to call this problem solved.

[2021-02-03 17:47] #217 closed

[2021-02-03 17:53] NedHenry commented on #228
Currently, the site can ingest works with "YYYY-MM" style dates, but those dates are still interpreted and indexed as "YYYY-MM-01" internally. As a workaround, we have two separate metadata elements for "Date Created"; one that indexes as a date for temporal searches (in which each date has a specific day), and another that indexes as text and displays exactly as inputed. This addresses most of ou

[2021-02-03 18:04] NedHenry commented on #373
We discussed this with Rob, and agreed that Rubocop is a low priority tool for us, to the extent that it is useful at all. It is not necessary for our code to meet any very specific style standards. It is more important to strive for more test coverage. This would probably be a distraction rather than a boon at this point.

[2021-02-03 18:04] #373 closed

[2021-02-03 18:07] NedHenry commented on #134
@chesleyperry has been working on this, and I'm not sure of the status. This ticket specifically relates to manually testing and QA of the site. The automated testing should make as much of this redundant as possible, but manually testing remains important. I wouldn't want to close this ticket because of progress on automated testing, which is a separate but related issue.

[2021-02-03 18:11] NedHenry commented on #354
Most of this work was done in #410 with the exception of the option to have our testing suite use Selenium and take screencaps or video of our test suite. Although this feature would be helpful in some circumstances, it is not at the top of our list. Since 90% of the work in this ticket is done and the last part is not a high priority for anyone, I think it is safe to count the whole issue as fini

[2021-02-03 18:11] #354 closed

[2021-02-03 18:13] NedHenry commented on #374
CloudApp is useful for creating short videos of clicking through the site to reproduce errors more easily. It is a very easy to use tool with it's own thorough documentation. I used it in Slack before, and can link anyone else who wants to use it to the documentation for the tool.

[2021-02-03 18:16] NedHenry commented on #376
This is still a good idea related to all of the other tickets surrounding code testing, including #432 which I am working on now. I have pulled in some of the Hyrax tests as part of my own work to increase test coverage, but it worth going through their whole suite when we have time.

[2021-02-03 18:19] NedHenry commented on #415
This is a prerequisite for completing the work described in UCSCLibrary/ucsc-library-digital-collections#383, and it might make sense to do them both at the same time.

[2021-02-03 18:20] NedHenry commented on #415
This remains an unresolved issue with the bulk ingest software, and should be included in the "bulk operations overhaul" epic if we create one.

[2021-02-03 18:21] NedHenry commented on #378
This remains a potentially unresolved issue with the bulk ingest software, and should be included in the "bulk operations overhaul" epic if we create one.

[2021-02-03 18:22] NedHenry commented on #251
We have ingested a lot of images since this was created, and the problem has not recurred regularly. This is probably a one-off problem that was a side effect of a different issue. It can probably be closed pending further issues.

[2021-02-03 18:22] #251 closed

[2021-02-03 18:24] NedHenry commented on #186
This remains an unresolved issue with the bulk ingest software, and should be included in the "bulk operations overhaul" epic if we create one.
However, we have workarounds that would allow us to ingest image collections in the mean time, with some extra attention.

[2021-02-03 18:25] NedHenry commented on #164
This remains an unresolved issue with the bulk ingest software, and should be included in the "bulk operations overhaul" epic if we create one.

[2021-02-03 23:51] JessWaggs commented on #358
@rschwab Here is my first draft:
![Screen Shot 2021-02-03 at 3 45 55 PM](https://user-images.githubusercontent.com/6412857/106824257-5332ba80-6637-11eb-8bc1-add9a376a594.png)

Biggest difference from desktop is that the thumbnails for the sibling images appear below the main image and I think the scroll bar can be hidden (scrolling is just more intuitive on mobile so it seemed unnecessary, particu

[2021-02-04 00:00] JessWaggs opened #437 "Sorting and Faceting of Collections"
### Descriptive Summary

As an end user, I want to be able to sort the list of collections in the DAMS both alphabetically and by newest added. As an end user, I want to be able to use facets to filter collections by criteria such as subject/topic.

### Background

As we continue to add collections to our DAMS, providing users with ways to sort and filter collections will improve user efficiency a

[2021-02-04 00:01] JessWaggs commented on #437
@NedHenry Do we need any more detail on the sorting/faceting in this ticket?
@rschwab Do we need a mock up for adding these features to the A-Z page?

[2021-02-04 00:05] JessWaggs opened #438 "Determine requirements for Rights and Usage Information for End Users"
### Descriptive Summary

As an undergraduate student, I want to know how I can use this image in my course work.

As a scholar, I want to know how I can use this image in my upcoming publication.

### Background

Standard rights and usage information is probably not understandable or meaningful to novice users. We would like to develop rights and usage content that will make sense to novice users

[2021-02-04 18:04] rschwab commented on #437
@JessWaggs Do you want it styled exactly like the collection landing page? If so, I don't need a mock up. If there are minor changes we can probably talk through them.

[2021-02-04 18:10] JessWaggs commented on #437
@rschwab Yes, I'm picturing the facets and sorting features looking like the ones on the collection landing page

[2021-02-05 00:24] rmjaffe commented on #134
@chesleyperry How does this relate to the test criteria that you've been developing?  Should this ticket be scoped differently or more broadly? Is it something that should be in In Progress?

[2021-02-08 18:54] katedundon commented on #277
I've drafted a collections description in this document. Feel free to suggest changes if you think it needs wordsmithing.

[About the UCSC Library Digital Collections](https://docs.google.com/document/d/1RVezVzEKRLrwBss-5m7ESC3gYESg_-1J04QENcfDe_U/edit?ts=601da5b7)

[2021-02-08 21:04] JessWaggs commented on #399
My student worker evaluated 7 other DAMS sites and could not find one with a Request button for reading room or reproduction requests.

I have reached out to our Aeon rep to ask if they can point us to some Aeon/DAMS site integrations.

[2021-02-08 22:58] rschwab commented on #358
This looks great, in my opinion. Are the Download, Share, and Cite buttons below "more information", or hidden altogether? Same with the About the Collection box?

[2021-02-08 23:02] JessWaggs commented on #358
I like what we do now with the single images, where the buttons appear below more info and the about the collection box is even below that. So no change there, I think : )

![Screen Shot 2021-02-08 at 3 01 06 PM](https://user-images.githubusercontent.com/6412857/107292399-a5505300-6a1e-11eb-827e-1928127adcfa.png)

[2021-02-09 20:30] NedHenry commented on #324
This brought up a few issues.
First, some works were not re-indexing properly. That problem still needs to be debugged and fixed.
Second, after re-indexing, the title property sorting is not working as expected. I think the title is being broken into separate words before sorting, while it ought to be considered as a single string. This needs further work.

[2021-02-09 21:34] rmjaffe commented on #334
Closing this card and creating pre-, ingest, and post- cards on the DAMS project board.

[2021-02-09 21:34] #334 closed

[2021-02-09 21:37] rmjaffe opened #439 "(3) Pre-Ingest Dorothea Lange (MS 20)"
## Collection Information

* Formal collection title: Ruth-Marion Baruch and Pirkle Jones Photographs
* Collection number: MS 20

### Objects

* Type of content (images, audio, albums, etc.): Images
* Single objects / compound: Complex
* Special requirements / issues: N/A

### Metadata Preparation

* [x] Object-level metadata created / remediated
* [x] Object-level metadata formatted per ingest sp

[2021-02-09 21:42] rmjaffe opened #440 "(8) Ingest Lange (MS 20)"
### Descriptive Summary

Series of complex image objects belonging to the Ruth-Marion Baruch and Pirkle Jones Photographs Collection (MS 20).

### Background

This is a series that was scanned by Pixel Acuity, but metadata issues prevented us from ingesting it with the rest of MS 20.

### Acceptance Criteria

This is what done looks like:

* [x] Files and metadata have been successfully ingested
*

[2021-02-09 21:44] rmjaffe opened #441 "Post-Ingest Lange (MS 20)"
## Post Publication Tasks

### Communication

* [ ] Spec Coll notified

[2021-02-09 21:46] rmjaffe commented on #441
@Sue, now that we're not dealing with legacy Cdm collections that need links redirected, etc. and we aren't harvesting to Calisphere or Primo, maybe we don't need to create post-publication cards?  Or at least not until we resume harvesting to Calisphere?

[2021-02-09 23:19] rmjaffe commented on #439
@chesleyperry @afrebert Just looked over the metadata for Lange and I think it's good to go.

[2021-02-09 23:26] #271 closed

[2021-02-10 00:35] rmjaffe opened #442 "User Testing & Consultation"
### Descriptive Summary

We determined that following the conclusion of the User Interface Redesign #311 epic, it would be a good idea to seek feedback on the redesign work from SC&A staff and possibly other users, specifically undergraduate students. We left it open so that @JessWaggs could decide whether to collect feedback in the form of user testing or as part of a less formal, consultative pr

[2021-02-10 00:36] rmjaffe commented on #442
@JessWaggs following the description on #412, this is scoped to include testing with SC&A and undergrads.  Should we restrict it to SC&A and then perhaps create a user testing round 2 epic following the search functionality epic focusing on undergrads?

[2021-02-10 17:03] JessWaggs opened #443 "Apply new child works page (Mobile)"
@rschwab Here is my first draft:
![Screen Shot 2021-02-03 at 3 45 55 PM](https://user-images.githubusercontent.com/6412857/106824257-5332ba80-6637-11eb-8bc1-add9a376a594.png)

Biggest difference from desktop is that the thumbnails for the sibling images appear below the main image and I think the scroll bar can be hidden (scrolling is just more intuitive on mobile so it seemed unnecessary, particu

[2021-02-10 17:23] JessWaggs commented on #443
@rschwab Thinking through scrolling and selection a bit more, I'm concerned that users might end up accidentally selecting when attempting to scroll. What do you think?

[2021-02-10 17:25] NedHenry commented on #383
@chesleyperry:
I checked out that bug and figured out what is causing it. It should not be a difficult fix, so I don't think we need to create a new issue for it. We can keep this issue active in the coming sprint, and can revisit QA after I fix this issue (today or tomorrow).

[2021-02-10 17:29] NedHenry commented on #383
For anyone interested, the bug was happening because the "more" link on the facets panel linked to a relative URL - relative to the normal search result page. Since we are displaying this panel on the collection page, it was trying to find more info about the facets in "collections/##COLLECTION_ID###/facets/etc" (which doesn't exist) instead of "catalog/facets/etc" (which does exist). We need to m

[2021-02-10 18:27] #358 closed

[2021-02-10 18:27] #351 closed

[2021-02-10 18:28] #345 closed

[2021-02-11 20:56] chesleyperry opened #444 "Pre-Ingest of Aerial Photos 1928-1948 (Q1)"
## Collection Information

* Formal collection title: UC Santa Cruz Aerial Photographs Collection
* Collection number: n/a
* Ingest contains flights:
- 1928-A California Coastline Flight
- 1928-B California Coastline Flight
- 1928-C California Coastline Flight
- 1928-D California Coastline Flight
- 1928-E California Coastline Flight
- 1928-F California Coastline Flight
- 1928-G California Coastlin

[2021-02-11 20:58] chesleyperry opened #445 "Pre-Ingest of Aerial Photos 1949-1960"
## Collection Information

* Formal collection title: UC Santa Cruz Aerial Photographs Collection
* Collection number: n/a

### Objects

* Type of content (images, audio, albums, etc.): images
* Single objects / compound: compound
* Special requirements / issues:

### Metadata Preparation

* [ ] Object-level metadata created / remediated
* [ ] Object-level metadata formatted per ingest spreadsheet

[2021-02-11 20:59] chesleyperry opened #446 "Pre-Ingest of Aerial Photos 1961-1970"
## Collection Information

* Formal collection title: UC Santa Cruz Aerial Photographs Collection
* Collection number: n/a

### Objects

* Type of content (images, audio, albums, etc.): images
* Single objects / compound: compound
* Special requirements / issues:

### Metadata Preparation

* [ ] Object-level metadata created / remediated
* [ ] Object-level metadata formatted per ingest spreadsheet

[2021-02-11 21:46] rschwab commented on #443
@JessWaggs I think most users will understand the swiping motion implied in the design, but you're right that it will likely lead to some unintended tap/clicks. Hard to say how big of a problem that will be... Another option we could consider is to have left/right paging arrows that are common in slideshow type designs.

[2021-02-11 21:47] chesleyperry opened #447 "Pre-Ingest Aerial Photos 1971-2003"
## Collection Information

* Formal collection title: UC Santa Cruz Aerial Photographs Collection
* Collection number: n/a

### Objects

* Type of content (images, audio, albums, etc.): images
* Single objects / compound:  compound
* Special requirements / issues:

### Metadata Preparation

* [ ] Object-level metadata created / remediated
* [ ] Object-level metadata formatted per ingest spreadshee

[2021-02-11 22:07] chesleyperry opened #448 "Ingest Aerial Photos Collection 1928-1948"
### Descriptive Summary

Collection of complex image objects.  Each complex object is a flight, which consists of a collection record, index(es), and sheets.

### Background

This is a legacy collection currently up in CONTENTdm.

### Acceptance Criteria

This is what done looks like:

* [ ] Collection has been successfully ingested
* [ ] Images display properly
* [ ] Metadata displays properly
*

[2021-02-11 22:11] chesleyperry opened #449 "Post Ingest Aerial Photos 1928-1948"
## Post Publication Tasks

###Drupal Flight Database

* [ ] Links from flight info updated to point to DAMS

### Communication

* [ ] Spec Coll notified
* [ ] DI notified

[2021-02-11 22:16] #294 closed

[2021-02-11 22:16] #292 closed

[2021-02-11 22:17] #291 closed

[2021-02-11 22:17] #293 closed

[2021-02-11 22:49] JessWaggs commented on #443
@rschwab Maybe we could try this design out on mobile and if it doesn't test well, we could add in paging arrows?

[2021-02-12 22:20] chesleyperry commented on #439
@rmjaffe I just finished the file assessment and had to change the spreadsheet with the correct filename for one file:
ms0020_trn_56-96.tif - changed to ms0020_neg_56-96.tif
I renamed the spreadsheet with today's date and put a copy in the DOMTP pre-ingest folder.  It's good to go from our end.

[2021-02-12 23:52] rmjaffe commented on #444
@chesleyperry The Q1 spreadsheet is in the Pre-Ingest folder on the DOMTP share.  Filepath is in the ticket desc above.  It's ready to go on my end.

[2021-02-16 22:16] rmjaffe commented on #444
@chesleyperry I'm going to pull back the aerials Q1 spreadsheet.  I just noticed an issue with the Geonames.

[2021-02-16 22:20] NedHenry commented on #383
This change was made. A short piece of javascript on the collection page updates the links without having to override the view partials. The result is available for viewing on the staging site.

[2021-02-17 00:12] rmjaffe commented on #444
@chesleyperry All cleaned up.  New spreadsheet is in DOMTP: smb://artifacts2.library.ucsc.edu/DOMTP/Pre-ingest/Aerials_1_1928_1948_20210216.xlsx

[2021-02-17 17:33] chesleyperry commented on #430
Update from Daniel Crews on the domain level redirect: digitalcollections.ucsc.edu has been redirected to 128.114.34.23 (digitalcollections.library.ucsc.edu). To use that original name, we need Ned to adjust the main web configuration to use both names. Currently, if you visit digitalcollections.ucsc.edu it will just forward you to the site. This is not undesirable behavior but it could mess up an

[2021-02-17 17:42] chesleyperry commented on #430
Collection level redirects have been checked.  See the full list of links that don't work in the [Google Doc](https://docs.google.com/spreadsheets/d/16awNMS3UzCbyuOhEGzXUwu_JGaNHuQQjDdyeLH6Tgs0/edit#gid=0)

[2021-02-20 00:25] JessWaggs commented on #281
@rmjaffe Now that the collection searching bug is fixed, this would be a good one to prioritize

[2021-02-20 00:29] JessWaggs commented on #383
I found a few issues that I think merit new tickets.

First, I made a typo in my keyword search and so no records were found. But this was not displayed on the page. Can we display a "No results" message?

![Screen Shot 2021-02-19 at 4 24 18 PM](https://user-images.githubusercontent.com/6412857/108575572-8fb91400-72cf-11eb-8b25-070f5830be36.png)

[2021-02-20 00:31] JessWaggs commented on #383
Second, my search terms aren't displayed when I search from within a collection the way they are when I search site wide.

![Screen Shot 2021-02-19 at 4 27 02 PM](https://user-images.githubusercontent.com/6412857/108575612-b24b2d00-72cf-11eb-8aa3-4a51a448c4ef.png)
Search for the term "Loma Prieta" and then used facets to further narrow from within collection

![Screen Shot 2021-02-19 at 4 30 36 PM

[2021-02-22 22:34] JessWaggs opened #450 "Add headings to collection description box"
### Descriptive Summary

Include bolded headings to content sections in the collection description box

![Screen Shot 2021-02-22 at 10 26 45 AM](https://user-images.githubusercontent.com/6412857/108778930-fed67880-751a-11eb-9551-4384f2f02f6e.png)

### Background

Providing section headings to long blocks of text is helpful for usability.

### Acceptance Criteria

This is what done looks like

* [

[2021-02-23 00:13] JessWaggs commented on #400
User Flow of UCSD VRR Experience: https://drive.google.com/file/d/1x6vTiipH_KFYnOrVfr_rra7zyGyTXEcW/view?usp=sharing

[2021-02-23 00:13] JessWaggs commented on #400
Updated "Second Tier" of VRR Request Needs document: https://docs.google.com/document/d/1Y-jevhML30_m8aHEd8joPib5T3r4FL8HkZ2cB1QTg-c/edit

[2021-02-23 00:31] JessWaggs commented on #399
I was unable to find other Aeon sites so I evaluated the NYPL digital collections and several enterprise sites that sell digital images.

I found that all used clear language and iconography to indicate to users that both 1) the button would allow them to procure a high resolution version of the image and 2) they would need to pay for the image

SCA indicated that they do not need to include the o

[2021-02-23 00:32] JessWaggs commented on #399
Proposed button based on SCA needs and mini-scan:

![Screen Shot 2021-02-22 at 4 27 18 PM](https://user-images.githubusercontent.com/6412857/108787863-80ce9d80-752b-11eb-9f37-ba648617753c.png)

[2021-02-23 20:59] JessWaggs commented on #399
@katedundon  @tmariamora
What are your thoughts on the proposed "Order a Scan" button that would point only to the reproduction request form (not including the reading room form option)?

[2021-02-23 21:00] rmjaffe commented on #324
@NedHenry Is going to split up this ticket into two tickets:  one focused on date sorting which will be flagged as a priority and one focused on alpha sorting which will be on hold.

[2021-02-23 22:07] katedundon commented on #399
I like this Jess. I think the order button pointing only to the repro request form works. I don't see much use in building functionality for reading room requests as this would be so rare as to not be worth your time (in my opinion).

I like the download option for collections from which we can allow direct downloading (I know Mayo is one exception). I'm thinking that we need to explain somewhere

[2021-02-23 22:30] JessWaggs commented on #399
@katedundon  That's a great idea!

Currently the Download button opens a pop up with rights info and options. We could definitely put a note at the bottom with something like, "For higher resolution files you will need to order a scan" or some such wording.

[2021-02-23 22:37] tmariamora commented on #399
I agree whole heartedly with what Kate said. I think the order button will do the job 98% of the time. And yes, some explanatory text about higher res would be nice.

Thanks!

[2021-02-24 18:28] rmjaffe commented on #68
Duplicative card.

[2021-02-24 18:28] #68 closed

[2021-02-24 18:29] rmjaffe commented on #67
Duplicative card.

[2021-02-24 18:29] #67 closed

[2021-02-24 18:29] rmjaffe commented on #299
Duplicative card.

[2021-02-24 18:29] #299 closed

[2021-02-24 19:43] rmjaffe opened #451 "(8) Pre-Ingest of Aerial Photos 1948-1956 (Q2)"
## Collection Information

* Formal collection title: UC Santa Cruz Aerial Photographs Collection
* Collection number: n/a
* Ingest contains flights:

- 1949 San Benito County Flight BUX
- 1950 Santa Clara County Flight CIV
- 1953 Santa Cruz County Flight CCL
- 1954-A Santa Cruz County Flight C-20607
- 1956-A Soquel Creek and Vicinity Flight SR
- 1956-B Santa Cruz County Flight CJA
- 1956-C Monter

[2021-02-24 19:46] rmjaffe opened #452 "Ingest Aerial Photos Collection 1948-1956 (Q2)"
### Descriptive Summary

Collection of complex image objects.  Each complex object is a flight, which consists of a collection record, index(es), and sheets.

### Background

This is a legacy collection currently up in CONTENTdm.

### Acceptance Criteria

This is what done looks like:

* [ ] Collection has been successfully ingested
* [ ] Images display properly
* [ ] Metadata displays properly
*

[2021-02-24 19:48] rmjaffe opened #453 "Post Ingest Aerial Photos 1948-1956 (Q2)"
## Post Publication Tasks

### Drupal Flight Database

* [ ] Links from flight info updated to point to DAMS

### Communication

* [ ] Spec Coll notified
* [ ] DI notified

### Related Work
Pre-ingest 1928-1948: UCSCLibrary/dams_project_mgmt#451
Ingest 1928-1948: UCSCLibrary/dams_project_mgmt#452

[2021-02-25 16:55] chesleyperry commented on #439
@NedHenry The files and spreadsheet are ready to go for this ingest.  Files are in: //dams.library.ucsc.edu/dams_ingest/ms0020 and the spreadsheet is:
//dams.library.ucsc.edu/dams_ingest/ms0020/MS_20_Berryessa_Lange_20210212.xlsx

[2021-02-25 17:13] afrebert commented on #432
Satisfied with less than 50%

[2021-02-25 17:13] #432 closed, assigned to NedHenry

[2021-02-25 17:14] JessWaggs commented on #94
@rmjaffe I think this card has been superseded by UCSCLibrary/ucsc-library-digital-collections#396 and UCSCLibrary/ucsc-library-digital-collections#397

[2021-02-25 17:16] JessWaggs commented on #438
We should aim to have drafts ready before usability testing so we can try the language out on users.

[2021-02-25 17:23] rmjaffe commented on #94
@JessWaggs Thanks for pointing this out.  I remember having been curious about this at one point, but clearly never followed up on asking about it!  I'll add a note and close it out.

[2021-02-25 17:24] rmjaffe commented on #94
Work defined in this card now addressed by UCSCLibrary/ucsc-library-digital-collections#396 and UCSCLibrary/ucsc-library-digital-collections#397 per Jess's message above.

[2021-02-25 17:24] #94 closed

[2021-02-25 17:25] #439 closed, assigned to chesleyperry, rmjaffe

[2021-02-25 17:25] #399 closed

[2021-02-25 17:26] #430 closed, assigned to NedHenry, chesleyperry

[2021-02-25 17:27] #209 closed

[2021-02-25 17:27] #400 closed

[2021-02-25 18:32] rmjaffe opened #454 "(5) Add A-Z sorting to collection landing and other results pages"
As a user, I want to be able to sort search results and collections alphabetically.

Currently sorts are available for relevance, date uploaded, and date modified. This adds alpha sorting to the list of options.

### Background
This ticket was split off UCSCLibrary/dams_project_mgmt#324 (Add dateCreated sorting to collection landing and other results pages); testing of UCSCLibrary/dams_project_mgm

[2021-02-25 23:46] rmjaffe commented on #429
@chesleyperry QA:  spot checking confirmed that the subseries property is no longer displaying in the front end metadata records.  When opening the form to edit the metadata, it appears that the property have been completely removed from the records. Closing this out.

[2021-02-25 23:46] #429 closed, assigned to NedHenry, rmjaffe

[2021-02-25 23:57] rmjaffe commented on #221
@NedHenry In QAing this, it looks like the titles have been successfully and correctly updated, but it also looks like the image groups/complex objects set have been ungrouped.

For example, Woman with white kitten: Untitled is an unpublished image within a set I used as in example in our update presentation to SC&A, now it appears in the DAMS as a single image.  However, if I click on the linked

[2021-03-02 22:03] chesleyperry commented on #444
Filechecking completed.
@NedHenry, @rmjaffe, @afrebert: I've moved the spreadsheet into dams_ingest: //dams.library.ucsc.edu/dams_ingest/aerials1928-1948/Aerials_1_1928_1948_20210301.xlsx
I edited it so I'll also put a copy of the latest version on DOMTP and move this ticket to done.

[2021-03-03 20:17] rmjaffe opened #455 "UA 50: Description fields that contained escaped out semi-colon broken on to new lines"
### Descriptive Summary

Just happened upon this issue while looking at items in UA 50.  It looks like, upon ingest, the system ignored the escaped our semi-colons (\;) appearing in a description field and instead interpreted them as line breaks.

We want to reinsert the semi-colons, remove the backslashes, remove the line breaks, and present the text in the correct order.

### Acceptance Criteria

[2021-03-03 20:25] rmjaffe commented on #455
Here are a couple more examples:
https://digitalcollections.library.ucsc.edu/records/2j62s632j
https://digitalcollections.library.ucsc.edu/records/7p88ch98x

[2021-03-09 19:44] JessWaggs opened #456 "Determine Usability Tasks"
### Descriptive Summary

Work with Special Collections & Archives to identify tasks users need to be able to accomplish using the DAMS

### Acceptance Criteria

This is what done looks like

* [ ] A list of usability tasks has been developed

[2021-03-09 19:48] JessWaggs opened #457 "Conduct Heuristic Evaluations"
### Descriptive Summary

Using the tasks identified in #456, conduct both a heuristic evaluation and an expert evaluation of the system.

### Acceptance Criteria

This is what done looks like

* [ ] Develop script for heuristic/expert evaluation
* [ ] One or more SCA staff conducts the expert evaluation
* [ ] Usability Student Assistant conducts the heuristic evaluation using Nielsen's 10 Heuristi

[2021-04-13 20:17] rmjaffe opened #458 "RMB-PJ complex image sets: not all child works showing on parent work landing pages"
### Descriptive Summary

Not all child works are appearing within RMB-PJ complex image sets.  In a couple cases (see Background), images that display as the representative images for the set do not appear in the listing of child images on the parent work page.  This issue require investigation as Special Collections staff need to be able to access metadata records for all the child images in order

[2021-04-21 22:33] rmjaffe commented on #312
Metadata is ingest-ready and is located in the DOMTP Pre-ingest folder.

[2021-04-21 22:33] rmjaffe commented on #574
Metadata is ingest-ready and is located in the DOMTP Pre-ingest folder.

[2021-04-22 19:18] rmjaffe opened #459 "Keyword searching from collection landing pages not working correctly"
### Descriptive Summary

Kate reported this issue via LibAnswers as follows:  "When I navigate to a specific collection (such as Santa Cruz County Historical Photographs), a keyword search does not produce any results (or rather, the results list is the entire collection). But when I search a collection group (such as Santa Cruz County History Collections), the same keyword search produces results

[2021-04-22 19:19] rmjaffe commented on #459
@rschwab @JessWaggs Can you please look into this?  I'm curious to get a better sense of what may be going on and what may be involved in correcting it.

[2021-05-12 01:30] afrebert opened #460 "Backstage Passes"
## Section 1: Archival Assessment/Collection Background

### Collection Information

Formal collection title:

Collection number:

Collection description:

Link to related finding aid:

If a collection is being processed by series, formal series titles and numbering (recorded in the order in which the series will be processed):

### Objects

Type/format and dimensions of objects (within each colle

[2021-05-12 18:15] rmjaffe commented on #458
Here is another example in which the representative image does not appear again within the list of child works: https://digitalcollections.library.ucsc.edu/concern/works/4b29b810w

[2021-06-09 23:34] rmjaffe opened #461 "UA 50: 130+ Mis-titled Images"
### Descriptive Summary

There seems to be a rather problem with a number of images in UA 50 titled "Lick Observatory Centennial gala dinner, at the Fairmont Hotel, San Jose: Dorothy Schaumberg, curator of the Mary Lea Shane Archives; Susan Cooper (Mrs. Dyson); and Allan Dyson, UC Santa Cruz University Librarian." While this image ua0050_neg_0537-6947f_22.tif is correctly titled there are over 130

[2021-06-22 20:25] tmariamora commented on #329
@rmjaffe Should I move this card back to the Preparation column since you're waiting on me?

[2021-06-24 18:07] rmjaffe commented on #440
Status update: Lange images have been ingested (included as part of the greater MS 20 collection) but are presently unpublished in the DAMS.  There is an issue with the values in the creator metadata property.  The URI supplied in the ingest spreadsheet (https://id.loc.gov/authorities/names/n79100159) is displaying on the metadata records, not the label 'Lange, Dorothea'.

<img width="558" alt="Sc

[2021-06-30 19:49] rmjaffe opened #462 "External controlled vocabularies not loading when editing metadata records"
### Descriptive Summary

Something seems to be up with Questioning Authority.  I just went into update a [metadata record for an object](https://digitalcollections.library.ucsc.edu/records/q811km536) in MS 427 and wanted to add a control name to the record; however, when I selected LOC or ULAN from the dropdown in the DAMS and searched for "Hihn, F" in either, I received notice that the vocabulary

[2021-07-08 20:33] rmjaffe commented on #461
While we work on resolving this issue, it is OK to restrict access to the images.

[2021-07-27 21:48] rschwab opened #463 "Decide how to handle translations"
Patron reported this link, with the interface translated to French: https://digitalcollections.library.ucsc.edu/catalog?f%5Bancestor_collection_titles_ssim%5D%5B%5D=UC+Santa+Cruz+Campus+History+Collections&f%5BsubjectTopic_sim%5D%5B%5D=College+teachers&locale=fr&q=Image&search_field=resourceType&sort=system_modified_dtsi+asc

Somehow Google has indexed at least one link in French. We need to decid

[2021-08-12 16:34] rmjaffe opened #464 "MS 427: Corrupt characters, Sund__z! Weekly Newspaper"
### Descriptive Summary

There's an issue where [92 items from MS 427](https://digitalcollections.library.ucsc.edu/catalog?utf8=%E2%9C%93&search_field=all_fields&q=Sund__z%21+Weekly+Newspaper) contain a corrupt character in the descriptive metadata (title, series title).  Text appears in the DAMS as "Sund__z! Weekly Newspaper"  and should be "Sundāz! Weekly Newspaper."  Text is correct on the inge

[2021-08-12 20:50] rmjaffe opened #465 "Images not loading on their item landing pages"
### Descriptive Summary

By happenstance, I encountered [an image](https://digitalcollections.library.ucsc.edu/concern/works/kd17cw674) that isn't loading on its item landing page.  Sue has since discovered [another](https://digitalcollections.library.ucsc.edu/concern/works/b8515r25t).

Example:
<img width="1230" alt="Screen Shot 2021-08-12 at 1 48 46 PM" src="https://user-images.githubusercontent

[2021-08-24 23:08] rmjaffe opened #466 "UI/UX: Enhanced Support for Complex Objects"
### Descriptive Summary

This epic focuses on optimizing the users' experience with our complex objects, in particular our complex image objects.

### Acceptance Criteria

This is what done looks like:

* [x] UCSCLibrary/dams_project_mgmt#263 Detail User Needs of Child Works (includes mock ups)
* [ ] UCSCLibrary/ucsc-library-digital-collections#412 Update display settings to show child vs. parent

[2021-08-24 23:09] rmjaffe commented on #323
Note: complex objects tickets have been split off into a new epic, UCSCLibrary/dams_project_mgmt#466

[2021-08-24 23:11] rmjaffe commented on #466
This epic is already underway; these tickets have been split off epic UCSCLibrary/dams_project_mgmt#323 and packaged as a separate epic.

[2021-09-07 22:34] rmjaffe opened #467 "Pre-Ingest Morton Marcus Poetry Show"
## Collection Information

* Formal collection title: Morton Marcus, “The Poetry Show” Recordings
* Collection number: MS 198

### Objects

* Type of content (images, audio, albums, etc.): 218 audio recordings

### Metadata Preparation

* [x] Object-level metadata created / remediated
* [x] Object-level metadata formatted per ingest spreadsheet specification
* [x] Spreadsheet available on DOMTP
*

[2021-09-07 22:39] rmjaffe opened #468 "Ingest Morton Marcus Poetry Show"
### Descriptive Summary

Collection of audio recordings.

### Background

This is a new collection.

### Acceptance Criteria

This is what done looks like:

* [ ] Collection has been successfully ingested
* [ ] Images display properly
* [ ] Metadata displays properly
* [ ] Collection has been published and is available to users on DAMS homepage

### Related Work

Marcus pre-ingest card #467

[2021-09-07 22:41] rmjaffe opened #469 "Post-Ingest Morton Marcus Poetry Show"
## Post-Ingest/Pre-Publication Tasks
* [ ] QA
* [ ] Publication of collection

## Post-Publication Tasks
### Calisphere Publication

* [ ] Calisphere Collection Registry updated
* [ ] DPLA OAI feed generated / checked
* [ ] CDL notified
* [ ] Test Calisphere harvest approved

### Communication

* [ ] Spec Coll notified

[2021-09-07 22:43] #312 closed

[2021-09-07 22:43] #574 closed

[2021-09-07 22:49] rmjaffe opened #470 "Pre-Ingest Norman O. Brown"
## Collection Information

Formal collection title: Norman O. Brown Lectures
Collection number: MS 35

### Objects

* Type of content (images, audio, albums, etc.): 13 audio records

### Metadata Preparation

* [x] Object-level metadata created / remediated
* [x] Object-level metadata formatted per ingest spreadsheet specification
* [x] Spreadsheet available on DOMTP
* [x] DI notified

* Spreadshe

[2021-09-07 22:50] rmjaffe commented on #470
@tmariamora @chesleyperry @afrebert :  In looking at the metadata spreadsheet, I noticed that a rightsstatement.org value is still wanting -- as are filenames!

[2021-09-07 22:53] rmjaffe opened #471 "Ingest Norman O. Brown"
### Descriptive Summary

Collection of audio recordings.

### Background

This is a new collection.

### Acceptance Criteria

This is what done looks like:

* [ ] Collection has been successfully ingested
* [ ] Images display properly
* [ ] Metadata displays properly
* [ ] Collection has been published and is available to users on DAMS homepage

### Related Work

NOB pre-ingest card #470

[2021-09-07 22:54] rmjaffe opened #472 "Post-Ingest Norman O. Brown"
## Post-Ingest/Pre-Publication Tasks
* [ ] QA
* [ ] Publish collection

## Post-Publication Tasks
### Calisphere Publication

* [ ] Calisphere Collection Registry updated
* [ ] DPLA OAI feed generated / checked
* [ ] CDL notified
* [ ] Test Calisphere harvest approved

### Communication

* [ ] Spec Coll notified

[2021-10-07 23:04] summer-cook commented on #450
Hi @rmjaffe - is it okay if I split this one into 2 tickets? The first part is super easy to accomplish and can be done today. The second part is a bit more tricky because there is an issue with the ScoobySnacks gem that it depends upon in order to complete.

[2021-10-07 23:11] rmjaffe commented on #450
@summer-cook:  Absolutely.  You're welcome to carve things up how they make best sense to you as the person who's working on these things.  Let me know if/how I can help.  Also, let me or others on the UCSC team know if a ticket doesn't make sense, more information is wanting, or if the scope is too large and it should be broken into multiple tickets.  Thanks for asking, I hope the ScoobySnacks pi

[2021-10-07 23:37] summer-cook commented on #450
Thank you!

[2021-10-11 18:41] rschwab opened #473 "Disable slideshow view on search results"
A patron landed on this page with a slideshow view: https://digitalcollections.library.ucsc.edu/catalog?f%5Bancestor_collection_titles_ssim%5D%5B%5D=Carol+Foote+photographs+of+the+University+of+California%2C+Santa+Cruz&f%5BsubjectName_sim%5D%5B%5D=University+of+California%2C+Santa+Cruz&f%5BsubjectPlace_sim%5D%5B%5D=University+of+California+Santa+Cruz&locale=zh&search_field=masterFilename&sort=syst

[2021-10-11 21:40] rmjaffe opened #474 "Silence unnecessary notifications/warnings"
### Descriptive Summary

On a few occasions we've had issues in our production environment where the logs have been filled up by various warnings, so we've decided to proactively silence notifications/warnigns for things that aren't (as) important.

### Background

There is an issue that Daniel noticed over the weekend with the production server hard drive filling up. He found the logs were fillin

[2021-10-14 05:56] orangewolf commented on #474
the URL escape ones are Ruby level deprecations notices.  We don't need those in production and they can be silenced by setting `RUBYOPT=-W:no-deprecated` as an ENV var on the server. These specific ones will be fixed the next time we're able to update ActiveFedora.

Th mod_rewrite once make me think that Apache's rewrite logging is on http://httpd.apache.org/docs/current/mod/mod_rewrite.html and

[2021-10-19 17:56] rmjaffe opened #476 "Admin dashboard: change default when clicking 'collections' to All Collections"
### Descriptive Summary

This is a minor, issue but a number of staff have requested that we change the default when clicking to view collections (under repository contents in the sidebar) from Your Collections to All Collections.

### Acceptance Criteria

This is what done looks like:

* [ ] When clicking collections on the dashboard, admin user is directed to All Collections tab.

[2021-11-01 20:07] rmjaffe commented on #123
@JessWaggs I just updated the acceptance criteria on this card adding labeling of metadata properties (as discussed over email) as a criterion and specifying who should be interview as part or the needs assessment/reqs gathering process.

[2021-11-05 18:01] rmjaffe opened #478 "Get a handle on visibility options"
### Descriptive Summary

Presently we have five different visibility options for works in the DAMS:  Public, UCSC Access, Embargo, Lease and Private.  Of these, we are not clear on how Embargo and Lease work.

**Public:** work is visible to everyone; most works are public
**UCSC Access:** work is visible to everyone in UCSC IP range and to staff who are logged in; in use for works in the CMF colle

[2021-11-12 17:55] rmjaffe commented on #435
This ticket was resolved as part of N8's work on Add headings to collection description box UCSCLibrary/dams_project_mgmt#450.

[2021-11-12 17:55] #435 closed, assigned to NedHenry

[2021-11-15 16:41] rmjaffe commented on #440
Per Sue, "We did do some light QA on Lange. There were no issues with the ingest of the images and metadata.  The only problem was that the system is displaying the LOC URI for Lange's name instead of the the text "Dorothea Lange"."  Publication of this collection is on hold until External controlled vocabularies not loading when editing metadata records #462 is resolved.

[2021-11-15 20:38] snehagunduraoUL commented on #462
@rmjaffe could you please add the steps to reproduce the issue?

[2021-11-15 21:19] rmjaffe commented on #462
@snehagunduraoUL Just did.  Realizing now how little detail was on this card; I hope this helps!  Also check out the comment on #440 (https://github.com/UCSCLibrary/dams_project_mgmt/issues/440#issuecomment-867848277).  I strongly suspect that these are related.  I'll work on creating a card for the issue documented in that comment.

[2021-11-15 21:42] rmjaffe opened #479 "MS 20: Lange - Labels not being pulled in for controlled vocabulary terms in Creator property"
### Descriptive Summary

As noted on the ingest card (#440), the LOC/LCNAF URIs that had been entered in the Creator property on the ingest spreadsheet appear as values in the metadata records for works in this collection in the DAMS instead of the corresponding labels.

![Screen Shot 2021-11-15 at 1 36 28 PM](https://user-images.githubusercontent.com/32003407/141857281-fd5a5b1e-8c63-4573-b3b3-2d9

[2021-11-15 22:06] #444 closed, assigned to chesleyperry, rmjaffe

[2021-11-16 17:09] rschwab opened #480 "Determine which custom fields will be keyword searchable"

[2021-11-16 17:38] rmjaffe commented on #480
@rschwab Summer had asked me for a list of metadata properties we've been using at the collection level.  This list is documented one of their [Gitlab tickets](https://gitlab.com/notch8/ucsc-library-digital-collections/-/issues/25), but here it is:

title (index)
collectionCallNumber (index)
extent
description (index)
donorProvenance (index)
publisher
publisherHomepage
rightsStatement
rightsHolder

[2021-11-16 20:24] rmjaffe commented on #480
Ryan and Rachel decided to move forward with the current indexing recommendations so as to not hold up a sizeable pull request.  We will adjust the indexer file as needed once Jess has been able to make her recommendations.

[2021-11-17 17:08] crisr15 commented on #458
This is the only collection that currently has the complex image set.  This should be corrected for future ingests as well so that it does not occur again.

[2021-11-18 19:54] rmjaffe opened #481 "Rights metadata assessment & revision project"
### Descriptive Summary

SC&A has created new boilerplate rights statement for collections.  These revised statements will eventually replace the statements that currently appear in finding aids, MARC collection records and in digital objects metadata records.  The Update rightsStatement with revised language UCSCLibrary/ucsc-library-digital-collections#366 card was created to represent that work

[2021-11-19 19:50] JessWaggs opened #482 "Error when trying to remove facets (only sometimes)"
### Descriptive Summary

When I try to remove invoked facets, either by using the "X" next to the facet in its right panel box, the "X" next to the facet in the "Filtering by" box at the top, or the "start over" link in that same box, I receive a page that says "The page you were looking for doesn't exist."

![Screen Shot 2021-11-19 at 10 56 54 AM](https://user-images.githubusercontent.com/6412857

[2021-11-29 19:36] rmjaffe opened #483 "MS 288: Update rightsHolder value for images in the Steve Rees collection"
### Descriptive Summary

The donor of this collection has given rights to the images to the University, so the rightsHolder value for the collection needs to be updated.  There are 353 images/works in the collection.

Current value: Stephen M. Rees
**Replace with:** Regents of the University of California

### Background

When this collection was ingested, the rightsHolder value was entered as par

[2021-11-30 00:11] rmjaffe commented on #473
Interestingly I just hit the URL that the patron shared with Teresa (i.e. the one at the top of the ticket) and I'm no longer seeing the slideshow view in production.  Chinese or Japanese language text, but no slideshow view!

[2021-11-30 00:12] rmjaffe commented on #277
@JessWaggs could you have a look at this on staging?

[2021-11-30 00:13] rmjaffe commented on #277
@snehagunduraoUL the A-Z page looks great to me.  Thank you!  I've asked @JessWaggs to have look and to sign off on it.

[2021-11-30 00:17] rmjaffe commented on #277
Oops, I did just bump into something.  At the foot of the A-Z page where you can page through the pages of content, when clicking on '2' or 'Next' I got an error message:
![Screen Shot 2021-11-29 at 4 14 58 PM](https://user-images.githubusercontent.com/32003407/143962696-03d06133-ce04-459d-b83d-c53ec39ddc66.png)

![Screen Shot 2021-11-29 at 4 15 51 PM](https://user-images.githubusercontent.com/320

[2021-11-30 00:42] JessWaggs commented on #277
There seems to be a little wonkiness with the layout
![Screen Shot 2021-11-29 at 4 41 02 PM](https://user-images.githubusercontent.com/6412857/143964852-2a2cce00-beb4-410a-baf9-346ce9223e21.png)

I think this iteration can move forward. Long term, I wonder if we can do two things:
1) Make the thumbnails the same size/shape (like the homepage)
2) Have fewer collections listed on each page (maybe 10

[2021-11-30 00:42] snehagunduraoUL commented on #473
Hi Rachel,
The Chinese or Japanese language text translates to view slideshow. Please
test the same in staging and it should work. Please let me know if you have
any questions.

Thanks,
Sneha

On Mon, Nov 29, 2021 at 4:11 PM rmjaffe ***@***.***> wrote:

[2021-11-30 00:45] snehagunduraoUL commented on #277
Thanks for the review @rmjaffe and @JessWaggs. The pagination does not work anywhere on staging as far as I have observed. Can we please open a separate issue for that? You can assign that to me.

[2021-11-30 00:46] snehagunduraoUL commented on #277
@JessWaggs Sure. Will do.

[2021-11-30 03:24] rmjaffe commented on #277
@snehagunduraoUL Yes, I can write up a ticket regarding the pagination tomorrow.  Are the presentation issues that Jess mentioned, conformity of the thumbnails and the number of items per page, unique to staging or will thing look the same in production.  As a note for our conversation about the staging site tomorrow, in reviewing other pieces of work I know that things in the current iteration of

[2021-11-30 03:29] rmjaffe commented on #473
Staging looks good.  Here's a screenshot of the same page in staging: https://digitalcollections-staging.library.ucsc.edu/catalog?f%5Bancestor_collection_titles_ssim%5D%5B%5D=Carol+Foote+photographs+of+the+University+of+California%2C+Santa+Cruz&f%5BsubjectName_sim%5D%5B%5D=University+of+California%2C+Santa+Cruz&f%5BsubjectPlace_sim%5D%5B%5D=University+of+California+Santa+Cruz&locale=zh&search_fiel

[2021-11-30 04:55] snehagunduraoUL commented on #277
@rmjaffe presentation issues looks the same on production too. I can make the two changes that Jess has mentioned.

[2021-11-30 18:00] rmjaffe opened #484 "Pagination on A-Z page/About Our Collections in DAMS-staging"
### Descriptive Summary

During QA of #277 it was observed that the pagination or paging tool at the foot of the A-Z page wasn't working on the staging site.

<img width="1048" alt="Screen Shot 2021-11-30 at 9 55 15 AM" src="https://user-images.githubusercontent.com/32003407/144101708-2f265cf2-c0cd-4e8d-9598-7bc3e71d042e.png">

When clicking on a page number or on 'next' the system would redirect

[2021-11-30 18:39] rschwab commented on #473
For the language issue, we have this ticket: https://github.com/UCSCLibrary/ucsc-library-digital-collections/issues/404

[2021-11-30 19:38] rmjaffe commented on #473
And for the paging issue, we have:  Pagination on A-Z page/About Our Collections in DAMS-staging UCSCLibrary/ucsc-library-digital-collections#382

[2021-11-30 22:53] DiemBTran commented on #459
This passes Notch8 QA. See attached screen recording.

https://user-images.githubusercontent.com/29311858/144141117-b618ffc1-68c5-4a9a-b6eb-ceb73aa4b6cd.mp4

[2021-11-30 23:12] DiemBTran commented on #462
This passes Notch8 QA. In the following screen recording, I demonstrate:
- external controlled vocabularies load for `Loc Names`
- external controlled vocabularies load for `Getty Ulan`
- searching for a term NOT found in the Library of Congress Name Authority File will display `No matches found`, rather than the bugged `Loading failed`

https://user-images.githubusercontent.com/29311858/144142931

[2021-11-30 23:20] rmjaffe commented on #462
@DiemBTran This looks good to me.  @snehagunduraoUL @rschwab Thoughts?

[2021-11-30 23:22] rmjaffe commented on #459
This also looks good to me.  @rschwab @JessWaggs Anything wanting?

[2021-11-30 23:30] rschwab commented on #462
I don't see the code anywhere yet. Maybe a new pull request is in the works?

[2021-11-30 23:32] rschwab commented on #459
@snehagunduraoUL was this in the mega pull request from N8? I'm confused about this being in the 'code review' column, maybe I'm missing something.

[2021-11-30 23:33] DiemBTran commented on #462
Upon further review, while the external vocabularies now load when searching in the edit form, it seems like saving `Getty Ulan` terms is bugged.

As seen in this screen recording, after saving a term for `Loc Names` (Seuss, Dr.) and a term for `Getty Ulan` (Geisel, Theodore Seuss (American author and illustrator, 1904-1991)) , the term for `Getty Ulan` does not actually show on the work show page

[2021-11-30 23:36] snehagunduraoUL commented on #459
@rschwab No..not this one. The one I tested was #479

[2021-12-01 14:37] sara-g commented on #459
@rschwab We have not sent this code yet, but if everything looks good we can send it today. Same with 479.

[2021-12-01 19:31] rmjaffe commented on #462
Thank you for catching this.  Your eye is better than mine!

[2021-12-01 19:38] DiemBTran commented on #462
If anything, my apologies for speaking too soon! 😮‍💨

[2021-12-02 05:01] DiemBTran opened #485 "Duplication of metadata fields: "Master Filename" and "Master File Name""
### Descriptive Summary

As a user viewing a work-show page's metadata, I noticed a duplicate field: `Master Filename` and `Master File Name`

This is an example on the staging site: [link to work](http://ucsc-hyrax-staging.notch8.cloud/concern/works/rx913p88g?locale=en)
![Shlomo Carlebach, The Singing Rabbi (center, with microphone), with students UCSC Digital Library Collections 2021-12-01 at 1

[2021-12-02 05:05] DiemBTran commented on #485
I'm not sure if I have enough permissions on this project, but I would label this as a bug if I could!

[2021-12-02 23:48] snehagunduraoUL commented on #483
@rmjaffe Looks like rightsHolder appears in the Collection form only and not under work metadata in the code, do you use the admin login on staging to edit the rightsHolder?

[2021-12-03 01:25] rmjaffe commented on #483
@snehagunduraoUL Thank you for investigating!  It's good to know that values ingested at the collection level are manageable at the collection level in the system.  I know that Sara and Summer had been working on updating our collection metadata setup but I'm not sure if that work is finished.  That said, I just attempted to update the rightsHolder value for the collection on the staging site but

[2021-12-03 16:32] snehagunduraoUL commented on #483
Sure. I’ll do that today.

On Thu, Dec 2, 2021 at 5:25 PM rmjaffe ***@***.***> wrote:

[2021-12-03 18:02] snehagunduraoUL commented on #483
@sara-g @summer-cook  I see that on Notch8 staging too. POST is failing with 500 error
<img width="1711" alt="Screen Shot 2021-12-03 at 10 01 56 AM" src="https://user-images.githubusercontent.com/92340457/144650809-0027be1b-8860-4778-ba9c-12ccd8bb01a6.png">
r.

[2021-12-03 18:40] JessWaggs commented on #123
[Report of Recommendations](https://docs.google.com/document/d/1C8cPz63rAnCRcOnhY7qYIhGOg5vkeoyy8MA6kf_nrz8/edit#) submitted 11/19 and approved 11/30

[2021-12-03 18:40] #123 closed

[2021-12-03 18:40] JessWaggs opened #486 "Update facet order & label"
### Descriptive Summary

Update the order of the facets and their display levels to match the following (facets in the table are listed in the new desired order):

![Screen Shot 2021-12-03 at 10 35 31 AM](https://user-images.githubusercontent.com/6412857/144655069-dd9b67f4-5893-4f2a-9dd2-f25936d71a39.png)

### Background

New facet order and display based on recommendations outlined in the [DAMS F

[2021-12-03 19:05] JessWaggs opened #487 "Develop Date Range facet"
### Descriptive Summary

Create a new "Date Range" facet that will narrow a results set based on a start date and end date for the year the item was created.

As an end user, I want to find items that fall within a specified date range so that I can only retrieve items that were created in the years relevant to my research.

### Background

The need for the Date Range facet is described in the [DA

[2021-12-03 19:16] JessWaggs commented on #487
If making the default values match the result set is blocking the rest of the work, it's totally fine to make that its own separate ticket as an enhancement

[2021-12-03 19:30] JessWaggs opened #488 "Investigate options for reimagning Resource Type facet"
### Descriptive Summary

The current "Type" (or "Resource Type" after the Facet display update) facet would be more useful to end users if it could sort based on a more granular conception of "Resource Type" - such as "map" or "document" or "aerial photograph"

As an end user, I want to narrow my result set from my keyword search so that I only retrieve maps.

### Background

The current Type elem

[2021-12-03 22:46] rmjaffe commented on #485
@DiemBTran I'm also seeing this duplication on staging, but I'm unable to connect to production to see if it's also occurring there.  Thank you for catching this!!

[2021-12-03 22:53] rmjaffe opened #489 "Develop recommendation for display labeling of metadata properties"
### Descriptive Summary

In the course of formulating recommendations for facet labels, we realized that we never formally decided how to label each of our metadata properties.

### Acceptance Criteria

This is what done looks like:

* [ ] List of recommended labels has been produced
* [ ] List has been vetted by appropriate stakeholders
* [ ] Display Label column on the[ data dictionary](https://

[2021-12-07 22:25] rmjaffe opened #490 "Not able to search on the word 'test'"
### Descriptive Summary

Not able to successfully search for the word 'test' using the search box on the DAMS homepage.  When entering 'test' the site redirects to an error message.  When entering other words that are a known not to appear in any of the metadata, e.g. 'ufo', the site redirects to a blank results/failed search page which gives users the option to try searching for something else.

[2021-12-08 20:17] snehagunduraoUL commented on #324
Sort by Date created is available on prod. @rmjaffe This ticket can be closed.
<img width="1499" alt="Screen Shot 2021-12-08 at 12 17 11 PM" src="https://user-images.githubusercontent.com/92340457/145278156-25c6f868-2eaf-448d-91d5-63fbdbd659b4.png">

[2021-12-08 21:12] snehagunduraoUL commented on #440
Collection is displayed as expected. Ticket can be closed.
<img width="1607" alt="Screen Shot 2021-12-08 at 1 09 43 PM" src="https://user-images.githubusercontent.com/92340457/145285066-c5a214c6-a175-472e-bd08-074568f00a18.png">

[2021-12-08 21:45] snehagunduraoUL commented on #454
Sort by Title has been added and is working on production. This ticket can be closed
<img width="1544" alt="Screen Shot 2021-12-08 at 1 44 13 PM" src="https://user-images.githubusercontent.com/92340457/145289391-aeb22f1c-845e-4ace-8780-9ddadd1d29a7.png">
.

[2021-12-09 20:45] rmjaffe commented on #324
Thanks for the heads up @snehagunduraoUL!  @JessWaggs, would you mind taking a quick look?  Also, it's not recorded in the ticket, but I recall that we had discussed removing date uploaded and date modified from the sorting options.  Is that something we still want to do?

[2021-12-09 20:47] rmjaffe commented on #454
@JessWaggs Could you please take a look to confirm that the title sorting is working as expected?  It appears to be doing so on my end.

[2021-12-13 22:22] JessWaggs commented on #454
Looks like it works to me!

[2021-12-15 16:46] #454 closed, assigned to rschwab, NedHenry

[2021-12-15 18:22] rmjaffe commented on #440
@snehagunduraoUL Have the Lange images been published?  Are they displaying to endusers as part of the Ruth-Marion Baruch & Pirkle Jones Collection?  I'm only seeing them when I am logged in.

[2021-12-15 18:47] snehagunduraoUL commented on #440
@rmjaffe yes..looks like it.
<img width="608" alt="Screen Shot 2021-12-15 at 10 46 21 AM" src="https://user-images.githubusercontent.com/92340457/146246706-494935dc-46a6-4f4f-8e21-3aaa5659a573.png">

[2021-12-15 20:17] rmjaffe commented on #440
Yes, this is one of the images that was loaded and published as part of an earlier MS 20: Ruth-Marion Baruch and Pirkle Jones ingest.  The creator value on all the items that went in as part of the more recent Lange addition to MS 20 in "Lange, Dorothea" (https://id.loc.gov/authorities/names/n79100159).  While signed in I can search by the URI to view the Lange images, but when logged out, I'm una

[2021-12-16 16:51] tmariamora commented on #440
@rmjaffe I think it depends on what additional development work may need to be done. I'm fine to move forward with publishing but would want a bit of lead time so we can communicate with OMCA and put together a press release.

[2021-12-20 22:38] rmjaffe opened #491 "Update masterFilename to primaryFilename"
### Descriptive Summary

Rename masterFilename metadata property primaryFilename.

### Background

(https://www.nytimes.com/2021/04/13/technology/racist-computer-engineering-terms-ietf.html)

### Acceptance Criteria

This is what done looks like:

* [ ] Ideally, this metadata property would be renamed on every level
* [ ] Or, for expediency, the public labeling for this property is updated to Prim

[2022-01-03 18:26] rmjaffe commented on #440
@tmariamora I'm thinking let's finish the bulkrax implementation/Scooby removal first, and then as we QA the published DAMS collections post-migration, let's check back in about this subset.

[2022-01-04 18:31] rmjaffe commented on #328
**Update:** Metadata for Marino Rounds 1 (2014-2016), 2 (2017), and 3 (2018) are now on a single spreadsheet and will move forward as a single ingest.  The combined ingest is already represented by a suite of cards on the DAMS project board.  What remains to be done on this Digital Projects card is:

- Assigning parents and children on metadata spreadsheet
- Checking, arranging and moving digital

[2022-01-04 23:29] sara-g commented on #463
@rmjaffe How did you want this handled?

[2022-01-05 17:28] rmjaffe commented on #463
@sara-g Thanks for asking -- I checked with both @rschwab and @JessWaggs, our UX librarian, and we'd like to go with option A: disabling translations, forcing English.

[2022-01-10 17:22] rmjaffe commented on #329
Update the metadata for the Round 3 photos (2018) have been appended to the combined spreadsheet for Rounds 1 (2014-2016) and 2 (2017).  These will move forward as a single spreadsheet and single ingest.

[2022-01-10 17:22] #329 closed

[2022-01-11 22:48] tmariamora opened #492 "Select Student Publications File Remediation Project"
## Section 1: Archival Assessment/Collection Background

### Collection Information

Formal collection title: Various see spreadsheet

This project focuses on preparing previously scanned files of select student publications for submission to Reveal Digital Media for their upcoming Student Protest Digital Collection.

### Objects

Type/format and dimensions of objects (within each collection or se

[2022-01-20 15:55] crisr15 opened #493 "Mapping of works metadata in bulkrax for CSV parser"
# Summary

Create a CSV parser for UCSC mapping the basic metadata to their sample spreadsheet.

Metadata Ingest Specifications:
https://docs.google.com/document/d/1LbSsNy43ZLM9mLo-jdLT6cW3rCP2_KX9/edit#heading=h.gjdgxs

Sample:
https://docs.google.com/spreadsheets/d/1EqWXamo4yOYbup1b9ZT5jxQShr8S0NCL/edit#gid=2058258381

# Testing Instructions

1. Create a CSV containing at least one full work
  -

[2022-01-20 15:58] crisr15 opened #494 "Add ability to import collection metadata"
https://docs.google.com/spreadsheets/d/1EqWXamo4yOYbup1b9ZT5jxQShr8S0NCL/edit#gid=2058258381

# Testing Instructions

1. Create a CSV containing at least one full collection
  - "Full" meaning all of its possible properties have values
  - Do not add any relationships to these collections (parents or children, works or collections). That functionality will be implemented in #3
  - Include at least

[2022-01-20 15:59] crisr15 opened #495 "Add ability to import child and parent relationship"
# Summary

The UCSC data uses many child and parent relationships.  Enable child parent relationships in the CSV parser.

# Acceptance Criteria

- [x] Relationships can be imported using the `parent` CSV column
- [x] Relationships can be imported using Bulkrax identifiers (`bulkrax_identifier` column)
- [x] Relationships can be imported using IDs<sup>1</sup>
- Multiple relationships can be defined

[2022-01-20 17:00] crisr15 opened #496 "Configure ability to add fileset metadata"
Map bulkrax to allow for fileset metadata to import from a CSV.

https://docs.google.com/spreadsheets/d/1EqWXamo4yOYbup1b9ZT5jxQShr8S0NCL/edit#gid=2058258381

[2022-01-20 17:01] crisr15 opened #497 "Evaluate if the Bulkrax exporter is ready to be used for the production db backup"
Verify / fix the following:

- [x] Controlled fields export URIs (as opposed to labels)
- [x] All mapped fields get exported (using [this spreadsheet](https://docs.google.com/spreadsheets/d/1q2xrxULg6whSHYxXeirz7KnghEb_xCMPvW6x_wdo9aU/edit#gid=1359124498))
- [x] Works get exported
- [x] Collections get exported
- [x] FileSets get exported

[2022-01-24 23:38] snehagunduraoUL commented on #490
This is working fine on staging. Should be fixed when we deploy from staging to prod.

[2022-01-25 19:54] rmjaffe commented on #328
**Update:** Metadata spreadsheet is currently in Luisa's possession.  SC&A students have been asked to supply place names to the metadata where they are wanting.

After the students' work is complete, RJ will need to add parent:child relationships to the spreadsheet and do final Geonames reconciliation.

[2022-02-02 18:25] rmjaffe commented on #459
@snehagunduraoUL Would it make best sense to leave this in staging and to not push to production until after we've descoobied?

[2022-02-02 18:39] snehagunduraoUL commented on #459
Yeah..that makes sense unless this is a high priority to be on production.

[2022-02-02 18:47] rmjaffe commented on #459
@snehagunduraoUL It is a top priority, but if it's a ton of effort or if there's a good risk of scooby-related issues (i.e., more bugs), we should wait.

[2022-02-02 19:52] snehagunduraoUL commented on #459
@sara-g what do you think?

[2022-02-14 23:25] bkiahstroud commented on #497
Regarding "All mapped fields get exported (using [this spreadsheet](https://docs.google.com/spreadsheets/d/1q2xrxULg6whSHYxXeirz7KnghEb_xCMPvW6x_wdo9aU/edit#gid=1359124498))" --

All properties specified in column F ("Property Label") are mapped in `config/initializers/bulkrax.rb` as of Feb. 14 2022.

**NOTE:** the property `primaryFilename` currently exists in the application as `masterFilename`,

[2022-02-22 18:07] snehagunduraoUL commented on #491
I have a Merge Request ready for this one. Let me know if you want it to be merged now or wait for bulkrax.

[2022-02-22 18:11] rmjaffe commented on #491
@bkiahstroud Do you have an opinion on this?

[2022-02-22 18:22] bkiahstroud commented on #491
Merging now shouldn't be a problem as far as Bulkrax is concerned. I can update the mapping for it

[2022-02-22 18:23] snehagunduraoUL commented on #485
I tested this on sandbox and local machine. Removing scooby-snacks would resolve this issue. It's coming from the scooby-snacks secondary display fields

[2022-02-22 18:23] rmjaffe commented on #491
Cool, thank you.  @snehagunduraoUL, go for it!

[2022-02-22 18:24] snehagunduraoUL commented on #491
Thanks Kiah and Rachel!
@rschwab could you please review it?

[2022-02-22 23:12] snehagunduraoUL commented on #491
This is working on sandbox.
<img width="1235" alt="Screen Shot 2022-02-22 at 3 12 04 PM" src="https://user-images.githubusercontent.com/92340457/155235341-285c9ccb-62de-4db7-9787-b992e89f2dea.png">

[2022-02-23 00:54] rschwab opened #498 "[5] DateCreated field accepts multiple formats"
**Summary**
As an admin user, I want to be able to ingest works with different formats for dateCreatedIngest (formerly DateCreated in BulkOps). Currently it only accepts YYYY-MM-DD but we also have some works with only YYYY.  This format should be preserved on exports as well, so that any updates to the metadata doesn't lose the correct dates.

**Acceptance Criteria**
- [x] Imports can be complete

[2022-02-23 01:03] rschwab opened #499 "[2] RightsStatement field is not required and not inherited if empty"
**Summary**
As an admin user, I want to be able to ingest works without a RightsStatement URI. Some works are intentionally left without this field, and so empty values should be allowed and not automatically inherit a default value from the importer.

**Acceptance Criteria**
- [x] Works can be imported a blank RightsStatement field
- [x] Spreadsheets can be imported without a RightsStatement colu

[2022-02-25 19:41] bkiahstroud opened #500 "FileSet filename(s) are not being exported"
Mirror ticket in Bulkrax: https://github.com/samvera-labs/bulkrax/issues/425

# Testing Instructions

1. Login as an admin
2. Navigate to Dashboard > Importers > New
3. Fill out required fields and upload a CSV containing at least one FileSet with metadata (title, description, etc)
4. Click "Create and Import"
5. Navigate to the importer's show page. After a couple minutes, refresh the page and en

[2022-02-25 19:41] bkiahstroud opened #501 "Parent-child relationships are not getting exported"
Mirror ticket in Bulkrax: https://github.com/samvera-labs/bulkrax/issues/424

# Testing Instructions

1. Login as an admin
2. Navigate to Dashboard > Importers > New
3. Fill out required fields and upload a CSV that fulfills the Acceptance Criteria
5. Click "Create and Import"
6. Navigate to the importer's show page. After a couple minutes, refresh the page and ensure the entries succeeded
7. Navi

[2022-03-01 22:48] bkiahstroud opened #502 "Bulkrax - If a Collection entry fails during Import, it halts the processing of all following Collection entries"
# Testing Instructions

1. Login as an admin
2. Navigate to Dashboard > Importers > New
3. Upload a CSV that has at least two Collections. The first Collection should be invalid, and the second should be valid (see example below)
4. Click "Create and Import"
5. Give the importer a couple minutes to process. Then click into the importer's show page
6. Verify that:
  a. Both Collection entries were

[2022-03-03 18:02] snehagunduraoUL commented on #502
This is working as expected. Thanks Kiah.

<img width="1001" alt="Screen Shot 2022-03-03 at 10 01 49 AM" src="https://user-images.githubusercontent.com/92340457/156624396-b6721a4f-9c61-4e54-b8e9-c33eff03c1aa.png">

[2022-03-04 00:28] bkiahstroud opened #503 "[5] Investigate impact of tickets related to the BulkOps Overhaul on Bulkrax"
# Summary

Investigate each sub-ticket of UCSCLibrary/dams_project_mgmt#436 to see if the issue(s) described by that ticket apply to Bulkrax. If any of them could potentially impact ingests using Bulkrax, note how.

# Acceptance Criteria

- Investigate the following in relation to Bulkrax:
  - [x] UCSCLibrary/dams_project_mgmt#415
  - [x] UCSCLibrary/ucsc-library-digital-collections#383
  - [x] UC

[2022-03-04 00:39] bkiahstroud commented on #503
For more detailed, official investigation results, [see below](https://github.com/UCSCLibrary/dams_project_mgmt/issues/503#issuecomment-1063190061)

Initial thoughts at a glance:

<details>

- No logic exists in Bulkrax to order FileSets
- Bulkrax has no equivalent to BulkOps’ “order” column
- “Permission conflicts in shared derivative drive”
  - This will likely still be an issue when ingesting w

[2022-03-07 19:55] bkiahstroud commented on #498
Is it possible that users will be entering values like "circa YYYY" as opposed to just "YYYY"? If so, we could add a third solr field to store the raw value that gets imported. From there, we match on "YYYY", put that value in dateDisplay, then put "YYYY-12-31" in dateCreated

[2022-03-07 19:58] rschwab commented on #498
@rmjaffe See above - do we need to accept words in the date field, ie "circa YYYY"?

[2022-03-08 18:58] rmjaffe commented on #498
At present dateCreatedDisplay was created and is used to accommodate and display textual or non-conforming date values like, "circa 2009", YYYY-YYYY date ranges , or "~2019."  Being able to display these values, like "approximately 2019-2021" is imperative to our users and stakeholders.

Those same values are recorded in dateCreated in a way that conforms to the the YYYY or YYYY-MM-DD formating ru

[2022-03-08 19:04] rschwab commented on #498
Sorry, I didn't realize we were using the date display field in this way. Lets create a third to store the ingest/export value, since dateCreated does need to be formatted in a precise way for sorting purposes.

[2022-03-09 00:04] afrebert commented on #326
Path to transcriptions: /Volumes/diginit2/ms0064_ms0414_CLIR2_MediaPreserve/ms0064_ms0414_Cabrillo Audio Transcriptions

[2022-03-09 17:43] bkiahstroud commented on #503
# Results

## Summary

The following issues clearly still apply to Bulkrax:
- UCSCLibrary/dams_project_mgmt#378
- UCSCLibrary/dams_project_mgmt#186

Other issues may apply as well, but need to be discussed.

---

- UCSCLibrary/dams_project_mgmt#415
  - FileSets ingested through Bulkrax are named properly
  - Order of FileSets is not guaranteed when importing with Bulkrax
- UCSCLibrary/ucsc-library

[2022-03-09 19:27] bkiahstroud commented on #498
@rmjaffe @rschwab  Should the column header using still be "dateCreated", and the value parsing will be done behind the scenes? Or do we want to import these values into the "dateCreatedDisplay" or the third property's column?

[2022-03-09 19:32] rmjaffe commented on #498
I don't know if this answers your question -- I know it doesn't answer it directly, but I think the data should look like:

dateCreatedIngest (or whatever we want to call it): YYYY
dateCreatedDisplay: approximately YYYY
dateCreated: YYYY-12-31

Is that right, @rschwab?  My question is would I need to supply the dateCreated, i.e. YYYY-12-31 for our YYYY only dates on the ingest spreadsheets or is t

[2022-03-09 19:40] rschwab commented on #498
My take on it is:

Spreadsheets should have two values: one that is just a date in a limited set of formats (for now either YYYY, or YYYY-MM-DD), and one that is open-ended for displaying to end users ("approx YYYY", etc).

Behind the scenes (meaning public users never see it, staff working with spreadsheets never see it) a date field is created based on the date-only field in the spreadsheet.

Th

[2022-03-09 19:47] bkiahstroud commented on #498
It's worth keeping exporting / round-tripping in mind. For example, we probably shouldn't label the column header meant to take "approx YYYY" as "dateCreated", because on export, the "dateCreated" header will have the "YYYY-MM-DD" value

[2022-03-09 19:50] rmjaffe commented on #498
If we're introducing a new, third property that will be used in place of dateCrated (as we are currently) on the ingest spreadsheets, I'm OK with that property/column header being dateCreatedIngest so that it's clear what that property is for and what values go in it.  dateCreatedIngest, dateCreatedDisplay and dateCreated.  The only one of those that should display to endusers is dateCreatedDispla

[2022-03-09 19:53] bkiahstroud commented on #498
@rmjaffe do you want me to add dateCreatedIngest to the data dictionary so Jess can add to it today? Or should we hold off until the work for this ticket is in review?

[2022-03-09 19:57] rmjaffe commented on #498
Thanks for asking -- let's update it after Jess is done.  Whatever public-facing label she gives for dateCreatedDisplay will be the same for dateCreatedIngest.  Given that dateCreated is being made a system-use only property, does it require a predicate or can I reassign that dcterms predicate to dateCreatedIngest?

[2022-03-09 20:06] bkiahstroud commented on #498
It still requires a predicate, but if you would like to use a different one so you can reassign the current one to dateCreatedIngest that should be fine

[2022-03-09 20:06] rschwab commented on #498
I updated the description and acceptance criteria based on this discussion. Please let me know if I missed anything or got something wrong.

[2022-03-09 20:45] rmjaffe commented on #498
@bkiahstroud @rschwab Just added dateCreatedIngest to the data dictionary and updated information on all three of the dateCreated properties.

[2022-03-14 16:53] bkiahstroud opened #504 "Fix Kakadu image derivatives bug"
# Summary

**Cause:** The application attempts to create jp2k derivatives irrespective of the file type. This fails for all files types that are not tiffs

**Fix:** Only attempt to create jp2k derivatives if the file is a tiff; otherwise, use the default Hyrax derivative creation flow

[2022-03-16 21:41] snehagunduraoUL opened #505 "Bulkrax metadata ingest basics document"
Here is the current version of this document
https://docs.google.com/document/d/1IagQ3sVIlXe7JZndx3bjPPmzGCOFXe5eAS595bzlBSI/edit#

[2022-03-16 21:45] snehagunduraoUL opened #506 "Bulkrax Metadata Ingest Specification document"
Current version of the document
https://docs.google.com/document/d/1qblKPY6-9tX6q2BSskoiJ3-sl7jT19Qx/edit#

[2022-03-16 22:09] snehagunduraoUL opened #507 "Inheritance rules documentation"
### Summary
We need to understand how are inheritance rules are setup and working within the DAMS system.  At the time we made these decisions, we failed to document them outside of the system.

[This spreadsheet](https://docs.google.com/spreadsheets/d/1_xfRCzJ943Qu6ASvJB5-AMjhRD3EyDLd/edit?usp=sharing&ouid=114117346070027385497&rtpof=true&sd=true) documents how we **think** the inheritance rules

[2022-03-16 22:10] snehagunduraoUL opened #508 "QC documentation"

[2022-03-16 23:37] snehagunduraoUL opened #509 "Level of effort document for bulkrax without de-scoobification"
Document that would showcase the estimate level of effort to get bulkrax working without de-scoobifying.

[2022-03-17 22:44] rmjaffe commented on #208
@tmariamora We're needing a collection title, collection description, and rights information.

[2022-03-17 23:18] tmariamora commented on #208
@rmjaffe Is it possible to determine if all of the maps are of SC County?

[2022-03-17 23:24] tmariamora commented on #208
@rmjaffe in re: to copyright as long as we're not including Standard Atlas Maps (which I don't think we are) I believe everything is in the public domain. If you point me to spreadsheet I'm happy to review and confirm.

[2022-03-17 23:37] rmjaffe commented on #208
The spreadsheet is here: smb://artifacts2.library.ucsc.edu/DOMTP/RJ_Working/SC_County_Maps_Misc_20211013.xlsx

The dates range from 1853-1989.

And if you sort on the subjectPlace column, you can see that not all the maps include SC County locations.

Standards are a separate ingest (spreadsheet is in my working folder in the DOMTP share). We supplied a **rights statement** 'Property rights for th

[2022-03-18 16:05] rmjaffe commented on #208
Please, if you're willing, add those values to the spreadsheet.  I don't have it open so there should be no issue editing.  Thank you!

[2022-03-18 16:27] rmjaffe commented on #208
Tsk, tsk ;-)

[2022-03-21 20:45] rschwab commented on #501
Does this work include: automatically export parent collection ID's to the parent column for children of collections?

[2022-03-23 18:43] rmjaffe commented on #331
@afrebert Just noticed that filenames are missing from the metadata ingest spreadsheet: smb://artifacts2.library.ucsc.edu/DOMTP/RJ_Working/Norman_O_Brown_20200626.xlsx.  I suspect there is probably a reason behind this, but would you mind adding them?

[2022-03-23 18:43] rmjaffe commented on #575
@afrebert Just noticed that filenames are missing from the metadata ingest spreadsheet: smb://artifacts2.library.ucsc.edu/DOMTP/RJ_Working/Norman_O_Brown_20200626.xlsx.  I suspect there is probably a reason behind this, but would you mind adding them?

[2022-03-24 18:13] rschwab commented on #224
@crisr15 was there a pull request for this? Wondering what the status is, we don't see any PR or MR for staging on this one.

[2022-03-24 18:13] rschwab commented on #450
@crisr15 Same: was there a pull request for this? Wondering what the status is, we don't see any PR or MR for staging on this one.

[2022-03-24 18:18] rschwab commented on #462
We may not need Ulan as an authority.

[2022-03-24 18:28] rschwab commented on #458
@bkiahstroud Could we use this ticket as part of the bulkrax handoff process: use resloving it to train ucsc staff?

[2022-03-24 18:29] rschwab commented on #504
We went with option 1: Only use kakadu to create derivatives of TIFF files.

[2022-03-24 18:42] rmjaffe commented on #462
@rschwab I was wrong.  I was thinking about forthcoming collections, not the ones that are already in the DAMS.  The DeCou collections contains some ULAN URIs, but they are displaying correctly (e.g. https://digitalcollections.library.ucsc.edu/records/kw52jc45j) and I don't expect that we'll be doing any editing/updating of those values.

[2022-03-24 22:03] #503 closed, assigned to bkiahstroud

[2022-03-24 22:34] snehagunduraoUL opened #510 "Fix authentication to view images on sandox"
The delegates.rb script that authenticates the users to view the images on universal viewer on sandbox is disabled currently.
It is safe to disable it for now, since sandbox access is only given to DAMS team and read only access to Notch8. Also, sandbox is behind firewall.
The script can be fixed in the future, but it's not a pressing issue now.

[2022-03-28 17:10] snehagunduraoUL commented on #462
@rmjaffe So can we move this to staging/QA?

[2022-03-28 21:20] chesleyperry commented on #332
Status as of January 2019:
Scrapbooks 1-8 have been scanned and processed tiff files.
Scrapbooks 1-4 have pdf derivatives created and saved in the main folder for the scrapbook.

[2022-03-29 00:36] bkiahstroud opened #511 "Fix ActiveTriples::UndefinedPropertyError for Collection properties"
# Summary

[ScoobySnacks::WorkModelBehavior](https://github.com/UCSCLibrary/ScoobySnacks/blob/master/lib/scooby_snacks/work_model_behavior.rb#L23) calls `#accepts_nested_attributes_for`, which finalizes the metadata schema, which causes two issues:

1. All properties added after `include ScoobySnacks::WorkModelBehavior` will throw `UndefinedPropertyError`s
2. `Hyrax::BasicMetadata` _also_ calls `#

[2022-03-29 00:39] bkiahstroud opened #512 "Export multi-valued fields into single columns"
# Summary

Multi-valued fields should be exported into single columns instead of split into numerated ones

**Before:**

| title_1 | title_2 |
| --- | --- |
| First Title | Second Title |

**After:**

| title |
| --- |
| First Title; Second Title |

# Testing Instructions

1. Login as an admin
2. Navigate to Dashboard > Importers > New
3. Fill out required fields. Upload a CSV that has multiple va

[2022-03-29 00:41] bkiahstroud opened #513 "Fix RecordNotUnique error when minting local authorities"
# Summary

Prevents this error from happening on Bulkrax entries when creating local authority entries:

![Show Entry Digital Collections Online 2022-03-28 at 5 42 58 PM](https://user-images.githubusercontent.com/32469930/160510175-16d76173-d5be-417e-a4d1-15783484d913.jpg)

# Testing Instructions

1. Login as an admin
2. Navigate to Dashboard > Importers > New
3. Fill out the required fields. Uplo

[2022-03-29 00:49] bkiahstroud opened #514 "[3] Investigate current state of inheritance rules"
# Summary

Inheritance Rules doc: [link](https://docs.google.com/spreadsheets/d/1_xfRCzJ943Qu6ASvJB5-AMjhRD3EyDLd/edit#gid=169329189)

[2022-03-29 15:01] rmjaffe commented on #462
@snehagunduraoUL @rschwab Before moving this forward:  a couple questions re: ULAN.

1. If ULAN is not working (i.e. we're not able to connect to the vocabulary so as to add terms manually or via spreadsheet ingest) will that have any impact on the display of the ULAN terms/URIs that are already in the DAMS beyond lack of authority maintenance (labels being refreshed as they are updated by the Get

[2022-03-29 16:25] #509 closed, assigned to nobody

[2022-03-29 17:28] bkiahstroud commented on #501
@rschwab Yes it does

[2022-03-29 18:32] snehagunduraoUL opened #515 "Update github README"
The README file on github for [ucsc-library-digital-collections] is outdated.
We need to update it to remove dev_docker set up and use stack_car instead.

[2022-03-29 19:16] snehagunduraoUL opened #516 "Document env changes on sandbox and staging"
There were a few environment changes on sandbox and staging servers. We need that documented to help production deploy and reduce deploy downtime.

[2022-03-30 18:43] afrebert commented on #331
Done: I put the updated spreadsheet in the RJ Working folder as Norman_O_Brown_20220328.xlsx

[2022-03-30 18:43] afrebert commented on #575
@rmjaffe Done: I put the updated spreadsheet in the RJ Working folder as Norman_O_Brown_20220328.xlsx

[2022-04-06 18:03] bkiahstroud opened #517 "[8] Properly handle all date fields when importing"
Ref #498

# Summary

Similar to `dateCreated` (#498), `dateDigitized` and `datePublished` will also throw errors on the edit form if they aren’t full dates (YYYY-MM-DD). This behavior appears to be coming from how Hyrax displays fields that use [date picker inputs](https://share.getcloudapp.com/bLuKdvJg)

Related thread in Slack: [link](https://notch8.slack.com/archives/CNUNTSCBH/p1649184702159809

[2022-04-07 22:17] rschwab opened #518 "Convert https to http before performing authority lookup"

[2022-04-08 18:02] rschwab commented on #517
datePublished and dateDigitized should be changed to plain text fields so that YYYY values can be imported and exported without being converted. We don't have a need for these to be sortable beyond string sorting, so they can be stored in the repo as strings not datetimes. The edit form should also be a text input rather than a date picker.

dateOfSituation is currently a plain text field but shou

[2022-04-08 21:26] afrebert commented on #331
Done with QC on files "inherited" from Scott. Content matches description, some damage, but overall audible content

[2022-04-08 21:26] afrebert commented on #575
Done with QC on files "inherited" from Scott. Content matches description, some damage, but overall audible content

[2022-04-08 22:27] rschwab opened #519 "[5] Local authority should mint on exact match only"
Currently local authority minting and linking is using phrase matching, or fuzzy matching, or some other method. It should use exact match only. When an exact match _(case-insensitive, remove white space and special characters)_ is not found it should mint a new local term. If the ingested value is a URI it should not create a new authority term, even if the lookup fails, in other words it should

[2022-04-11 16:31] bkiahstroud opened #520 "Wrap Bulkrax work"
# Summary

This ticket outlines the remaining work necessary to consider the Bulkrax work "done".

# Acceptance Criteria

**Need work:**

- [x] UCSCLibrary/ucsc-library-digital-collections#383
- [ ] UCSCLibrary/ucsc-library-digital-collections#384
- [ ] UCSCLibrary/ucsc-library-digital-collections#385
- [ ] UCSCLibrary/ucsc-library-digital-collections#369
- [ ] https://github.com/UCSCLibrary/ucsc-

[2022-04-12 18:22] bkiahstroud commented on #458
Moving to Sandbox QA to determine if it's still an issue or not

[2022-04-12 19:26] rschwab commented on #520
Here's the [list of acceptance criteria](https://docs.google.com/document/d/1uYvkJNl89IvtiRwwEnaVzogMi6A6Y0eV0GOhGNcmkps/edit) UCSC came up with from an admin/librarian user perspective.

[2022-04-13 22:24] rschwab opened #521 "[5] Deleting values using Bulkrax on import isn’t working"
### Descriptive Summary

As an admin user, I want to be able to use Bulkrax to delete values from fields.

### Acceptance Criteria

This is what done looks like

* [x] Importing with a blank value using numerated column headers for multi valued fields removes the value from the work.
* [x] Other values are left in-tact on multi-valued fields
* [x] Document functionality in Bulkrax Wiki

### Expect

[2022-04-13 22:29] rschwab opened #522 "[8] Bulkrax: LDP error"
When doing an import in bulkrax, collections throw this error:
Error: Ldp::Conflict - The repository type (http://fedora.info/definitions/v4/repository#Container) of this resource is system managed.

Example here: http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/79/entries/879?locale=en

Acceptance criteria:
- [x] Collection records imported without error
- [x] Collection recor

[2022-04-13 22:32] rschwab opened #523 "[5] Bulkrax: NoMethod error"
When importing filesets in Bulkrax we get this error:

Error: NoMethodError - undefined method `each_with_index' for nil:NilClass

Example: http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/76/entries/848?locale=en

[2022-04-13 22:35] rschwab commented on #522
I noted an error with an export defined with an importer with a collection in it. The collection wasn't included on the export, and this is the most likely underlying cause.

[2022-04-13 22:37] rschwab opened #524 "[5] RightsStatement doesn't import/export"
### Descriptive Summary

As an admin user, I want to be able to import rights statements using Bulkrax. Currently these don't appear to be imported when defined on an import spreadsheet.

### Acceptance Criteria

This is what done looks like

* [x] Rights statement can be imported without error.
* [x] Rights statement can be exported without error.

[2022-04-13 22:40] rschwab opened #525 "Publisher Homepage doesn't display"
### Descriptive Summary

As a user I want to be able to click a link to go to the publishers homepage, if available.

### Background

We have a metadata field for publisher homepage, which is successfully imported and exported using Bulkrax. However, on work show pages the publisher information is displayed instead of the publisher homepage.

### Acceptance Criteria

This is what done looks like

[2022-04-13 22:41] rschwab commented on #525
This is a bug introduced at some point during the past year. It is present on sandbox, but not on production.

[2022-04-13 22:45] rschwab opened #526 "Local authority links should display in all environments"
Currently local authority terms don't appear in sandbox. The suspected cause is a potential hard-coded URL to production for local authorities. This should be fixed to display local authorities in all environments.

[2022-04-13 22:47] rschwab opened #527 "accessRights does not display or inherit"
AccessRights appears to be correctly imported and exported using Bulkrax, but is not currently displaying on the Work show page. Additionally it does not appear to be inheriting correctly to works from the collection record.

[2022-04-13 22:50] rschwab opened #528 "[2] descriptionNeighborhood does not display or export"
descriptionNeighborhood is a metadata field that was included on a test import, but did not display on the work show page, or export using bulkrax.

Example work: http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/h702q641c?locale=en
From importer: http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/79/

[2022-04-13 22:54] bkiahstroud opened #529 "Investigate why deleting values using Bulkrax on import isn’t working"

[2022-04-13 22:56] rschwab commented on #529
Duplicate of https://github.com/UCSCLibrary/dams_project_mgmt/issues/521

[2022-04-14 17:26] bkiahstroud commented on #521
@rschwab the acceptance criteria includes criteria for single valued fields, but I'm not actually seeing any single valued fields in the metadata schema. Do you have any recommendations for testing this?

[2022-04-14 17:50] rschwab commented on #521
Wow you're right. Publisher was single valued but that's been commented out. I guess we'll skip this requirement for now, since there's no great way to test it.

[2022-04-15 05:38] snehagunduraoUL opened #530 "Deprecation warnings in Production error logs"
The error logs on the production machine has been collecting deprecation warnings.

App 16639 output: DEPRECATION WARNING: search_field_def_for_key is deprecated and will be removed from blacklight 7.x (Use blacklight_config.search_fields[key]). (called from add_advanced_parse_q_to_solr at /srv/ucsc_sufia/shared/bundle/ruby/2.7.0/gems/blacklight_advanced_search-6.4.1/lib/blacklight_advanced_search

[2022-04-15 05:43] snehagunduraoUL opened #531 "404 error on catalog page for admin users"
The admin users are facing a 404 error when trying to access the [catalog](https://digitalcollections.library.ucsc.edu/catalog) page.
Steps to reproduce:
1. Enter the url https://digitalcollections.library.ucsc.edu/catalog
2. Login with admin credentials
3. Reload the page.

[2022-04-15 15:32] rschwab commented on #530
Some options are turn off warning level notices on production, patch Blacklight, or update Blacklight.

[2022-04-19 21:34] snehagunduraoUL opened #532 "[1] Deleting a failed import isn't working"
If there is a foreign key constraint, an error message has to be displayed to the user.

Steps to reproduce:
1. Log in as an admin user
2. Click on Importers tab
3. Delete an importer with a Failed status
<img width="1372" alt="Screen Shot 2022-04-19 at 2 33 27 PM" src="https://user-images.githubusercontent.com/92340457/164105532-4cc9a200-983f-4bb5-acda-e4e004051bdf.png">

[2022-04-19 21:46] snehagunduraoUL commented on #532
Logs from sandbox:
I, [2022-04-19T14:43:54.670437 #14929]  INFO -- : [1ff338c1-82b4-4124-8693-425e2b8495ff] Completed 500 Internal Server Error in 20ms (ActiveRecord: 9.2ms)
F, [2022-04-19T14:43:54.672958 #14929] FATAL -- : [1ff338c1-82b4-4124-8693-425e2b8495ff]
F, [2022-04-19T14:43:54.673000 #14929] FATAL -- : [1ff338c1-82b4-4124-8693-425e2b8495ff] ActiveRecord::StatementInvalid (Mysql2::Error: C

[2022-04-20 23:09] rschwab commented on #527
I am now seeing this field as expected on http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/h702q641c?locale=en so I'm going to mark that down as user error on my part.

It is not inheriting as seen on this work: http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/8k71nh141?locale=en

Which should have inherited from the collection, both imported here: h

[2022-04-25 18:48] bkiahstroud commented on #521
Documentation for this has been added to the Bulkrax Wiki: [link](https://github.com/samvera-labs/bulkrax/wiki/Interacting-with-Metadata)

[2022-04-25 18:50] bkiahstroud commented on #521
@rschwab All my testing with this revealed no bugs, so I've gone ahead and pushed this back to Sandbox QA. Using the [new documentation in the Bulkrax Wiki](https://github.com/samvera-labs/bulkrax/wiki/Interacting-with-Metadata), can you test this when you get the chance?

[2022-04-26 18:45] bkiahstroud commented on #514
Property-by-property investigation results: [spreadsheet](https://docs.google.com/spreadsheets/d/1_xfRCzJ943Qu6ASvJB5-AMjhRD3EyDLd/edit#gid=1503284424)

[2022-04-26 18:49] bkiahstroud commented on #514
The main logic for inheritance lives in the application code and can be found here:

- https://github.com/UCSCLibrary/ucsc-library-digital-collections/blob/sandbox/app/models/work.rb#L123-L151
- https://github.com/UCSCLibrary/ucsc-library-digital-collections/blob/sandbox/app/indexers/work_indexer.rb#L89-L109

It looks like whether a property gets inherited or not is determined by the `inheritable`

[2022-04-27 15:35] bkiahstroud commented on #507
Related: UCSCLibrary/dams_project_mgmt#514

[2022-04-27 16:05] bkiahstroud commented on #532
Should be fixed by https://github.com/UCSCLibrary/ucsc-library-digital-collections/pull/281, moving to Sandbox QA

[2022-04-27 17:52] bkiahstroud commented on #522
This bug no longer happens to me with this change: https://github.com/samvera-labs/bulkrax/pull/496

[2022-04-27 19:39] bkiahstroud commented on #523
@rschwab Upon investigation, I believe this is due to user error. `FileSet` rows in the CSV require a value in the `filename` column, and the CSV used for [this importer](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/76/entries/848?locale=en) does not meet that requirement.

I'm working on adding a more descriptive error message to Bulkrax, but in the meantime you should be

[2022-04-27 23:29] bkiahstroud commented on #524
Related PR: https://github.com/UCSCLibrary/ucsc-library-digital-collections/pull/280

[2022-04-28 18:58] rschwab commented on #521
I just tested and this is still an issue. Imported using numerated columns with one value for genre deleted (see screenshot). After running this import, the two values are still present on the work, and present in the exporter created from the importer.

![delete-bug](https://user-images.githubusercontent.com/515412/165826535-335b8f6b-66b1-4463-91eb-a171c5448676.png)

[2022-04-29 15:55] rschwab opened #533 "[3] Exporter created from importer didn't match works on importer"
I created an importer (importer X) with a single work on it for testing. Then created an exporter based on it.

That single work had originally been imported with many other works some weeks prior (importer Y).

The exporter included extra works - it seemed to be pulling all the works from importer Y, rather than importer X.

[Exporter](http://digitalcollections-staging-sandbox.library.ucsc.edu/ex

[2022-04-29 21:51] #529 closed, assigned to nobody

[2022-04-29 22:13] rschwab opened #534 "Importer creation page has incorrect help statement"
When creating a new importer, under the **Add Files to Import** section the help text reads "Choose files to upload. The filenames must be unique, and the filenames must be referenced in a column called '**file**' in the accompanying CSV file." But it seems the column needs to be '**filename**'.
![Firefox_Screenshot_2022-04-29T22-12-03 845Z](https://user-images.githubusercontent.com/515412/1660755

[2022-04-29 22:16] rschwab commented on #534
Or does it work with either column name?

[2022-04-29 22:21] rschwab commented on #523
This does appear to work when the filename is present, and I see this is already documented in the ingests basic doc. Thank you!

[2022-04-29 22:27] rschwab commented on #522
Looks fixed to me too! TY!

[2022-04-29 22:43] rschwab commented on #533
Here's an exporter with a large, unexpected list of works+collections: http://digitalcollections-staging-sandbox.library.ucsc.edu/exporters/7?locale=en

[2022-04-29 22:49] rschwab commented on #500
This has been resolved, confirmed in http://digitalcollections-staging-sandbox.library.ucsc.edu/exporters/7?locale=en

[2022-05-06 20:27] rmjaffe opened #535 "Master/Primary Filename not displaying in metadata records for single file concerts from CMF/CLIR ingest"
### Descriptive Summary

Luisa observed that the master filename is not appearing in the metadata display record for [1988 CMF Concert 8](https://digitalcollections.library.ucsc.edu/records/t435gg08m).  In picking around in the collection further, I'm noticing the the master filenames don't seem to being appearing for concerts that only have one associated performance/file, e.g. [1989 CMF Concert

[2022-05-06 21:00] rmjaffe opened #536 "Master filename not automatically displaying in metadata records"
### Descriptive Summary

Whereas in Master/Primary Filename not displaying in metadata records for single file concerts from CMF/CLIR ingest #535, the filename is not displaying for concerts with a single performance, the master filenames are not automatically displaying for the items with 2+ performances/files per concert.

Upon initial display of the complex object, the filename for the highligh

[2022-05-06 21:01] rmjaffe commented on #536
@JessWaggs Ideally, how should these complex work concerts (parent) and performance (children) display?

[2022-05-06 21:23] JessWaggs commented on #536
I'm looking back at my designs, and I don't think we had a separate design for the parent records.

It looks like this is an issue for all of the child/parent sets? Do you think it should be a larger discussion/project?

[2022-05-06 22:32] rmjaffe commented on #536
@JessWaggs I suspect that it may require larger discussion.  There's been some conversation around the display of filenames in connection with the bulkrax work, so I shared this issue with Ryan via email.  I'm curious to know his thoughts when her returns and will keep you in the loop.

[2022-05-09 06:01] snehagunduraoUL commented on #526
@rschwab / @bkiahstroud Could you please provide more details on this? Steps to reproduce would be great. Thanks.

[2022-05-10 04:11] snehagunduraoUL commented on #521
This works on sandbox now.
Test data attached.
[test_521.csv](https://github.com/UCSCLibrary/dams_project_mgmt/files/8657331/test_521.csv)
Removed the value for genre_1 and the metadata on the importer has been updated successfully (the value is deleted).
Exported csv also does not have the deleted value.
importer : http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/120?locale=en

[2022-05-10 17:01] bkiahstroud commented on #521
This ended up being an issue with controlled fields specifically due to special behavior coming from ScoobySnacks. With the changes from [this PR](https://github.com/UCSCLibrary/ucsc-library-digital-collections/pull/286), all controlled fields should now behave the same when importing/exporting as other non-controlled fields

[2022-05-10 17:06] snehagunduraoUL commented on #524
Rights statement is being imported.
<img width="541" alt="Screen Shot 2022-05-10 at 9 59 55 AM" src="https://user-images.githubusercontent.com/92340457/167682976-a5a256e7-53b6-4f0e-95cf-79ae8ae7d74a.png">
Rights statement is being exported too.
<img width="882" alt="Screen Shot 2022-05-10 at 10 04 39 AM" src="https://user-images.githubusercontent.com/92340457/167683693-7e1dcc11-6982-4383-b654-3a21

[2022-05-10 21:06] snehagunduraoUL commented on #526
Looks like Creator is rendered just fine on sandbox.
Here is my test data :
title,creator_1,creator_2
Local Authority,http://id.loc.gov/authorities/names/n79056359,http://vocab.getty.edu/ulan/500434076
And the creator is displayed on work showpage:
<img width="796" alt="Screen Shot 2022-05-10 at 2 06 16 PM" src="https://user-images.githubusercontent.com/92340457/167721835-4c0daa72-1bdf-4815-bd4c-2

[2022-05-10 22:35] bkiahstroud commented on #526
@snehagunduraoUL this bug is only observed when minting local authorities. The only time that happens is if 1) the provided value is not a URI, and 2) no search results are returned from an external authority source for the provided value.

[code]

_[Link to code](https://github.com/UCSCLibrary/ucsc-library-digital-collections/blob/sandbox/app/models/concerns/bulkrax/has_local_processing.rb#L85-L8

[2022-05-10 22:46] snehagunduraoUL commented on #526
Ah! Got it. I'll work on it. Thank you.

[2022-05-11 18:00] bkiahstroud commented on #507
Documentation can be found [here](https://docs.google.com/spreadsheets/d/1_xfRCzJ943Qu6ASvJB5-AMjhRD3EyDLd/edit#gid=1503284424) and [here](https://github.com/UCSCLibrary/dams_project_mgmt/issues/514#issuecomment-1110137238)

[2022-05-11 18:25] bkiahstroud opened #537 "CSV entries are not being properly differentiated by type"
# Summary

A bug was introduced into Bulkrax in the last beta release where Collection and FileSet entries were showing up as "work" entries, causing them to throw errors

[2022-05-11 18:30] bkiahstroud commented on #537
Related: #520

[2022-05-12 16:33] bkiahstroud opened #538 "Use ImageMagik to create JP2K derivatives for JPEGs"
# Summary

_This ticket is based off discussion documented in these [meeting notes](https://docs.google.com/document/d/1AczzjZmXieeSYBUs6JJOKwxvayrzDj1AJ3KbvaMG19w/edit#)_

Currently, whenever a JPEG file is uploaded into the system, its derivatives fail to be created. This leads to the image failing to display inside the Universal Viewer and other places throughout the app. This is because the sy

[2022-05-12 16:34] bkiahstroud commented on #538
Related: #504

[2022-05-12 16:50] bkiahstroud commented on #534
@rschwab it works with either column name ([link to code](https://github.com/UCSCLibrary/ucsc-library-digital-collections/blob/sandbox/config/initializers/bulkrax.rb#L41))

[2022-05-13 19:35] snehagunduraoUL commented on #525
<img width="594" alt="Screen Shot 2022-05-13 at 12 34 42 PM" src="https://user-images.githubusercontent.com/92340457/168377317-723bb0d4-53e1-4d07-a6f2-003fcd924aea.png">

This is ticket is ready to be closed

[2022-05-13 19:36] snehagunduraoUL commented on #476
<img width="900" alt="Screen Shot 2022-05-13 at 12 36 06 PM" src="https://user-images.githubusercontent.com/92340457/168377649-953481ab-1768-491e-b3d0-175e150d6556.png">

This ticket is ready to be closed.

[2022-05-13 19:45] snehagunduraoUL commented on #513
<img width="1042" alt="Screen Shot 2022-05-13 at 12 45 10 PM" src="https://user-images.githubusercontent.com/92340457/168379094-4be42b07-1a2c-4bb3-9fde-64bcf6c456a9.png">

Importer succeeded with the above csv. This ticket can be closed.

[2022-05-13 19:48] rmjaffe commented on #476
Yay!  Thank you @snehagunduraoUL

[2022-05-13 20:18] snehagunduraoUL commented on #512
<img width="165" alt="Screen Shot 2022-05-13 at 1 17 34 PM" src="https://user-images.githubusercontent.com/92340457/168383429-ee28b4d0-9544-412d-a4ae-e4c500e43ddc.png">

This works as expected. This ticket can be closed.

[2022-05-13 22:09] snehagunduraoUL commented on #511
Works as expected. Can be closed.

[2022-05-17 19:58] rschwab commented on #536
Rachel I think you're right about what's happening. On initial display, you see the parent metadata (work 736667193), upon clicking track 1 you see the child metadata (work gb19f832p).

I agree that we'll need a discussion to figure out how it should work. How/when do we display the parent level metadata vs the child?

[2022-05-17 20:55] rschwab commented on #533
One concern that's been raised that may be related is the order of objects on the export list. When an export is created from an importer, is it possible to export using the same order as found on the ingest spreadsheet?

[2022-05-17 22:17] rmjaffe commented on #536
@rschwab @JessWaggs I'm thinking we'll want to resolve this issue and #535 before we ingest the aerials photos. Do you  think you'll have time to take this on before we initiate that ingest?  At a minimum, can I go ahead and schedule a discussion meeting in the next week or two?

[2022-05-17 22:37] bkiahstroud commented on #533
Not currently, no. On export, [objects are grouped together by type](https://github.com/samvera-labs/bulkrax/blob/main/app/parsers/bulkrax/csv_parser.rb#L202) (Works first, Collections second, and FileSets third)

[2022-05-17 22:54] bkiahstroud commented on #527
@rschwab @snehagunduraoUL since the logic for inheritance rules [was determined to be unrelated to ingesting](https://github.com/UCSCLibrary/dams_project_mgmt/issues/514#issuecomment-1110137238), can this ticket be removed from the #520 Acceptance Criteria?

[2022-05-17 23:36] rschwab commented on #527
@bkiahstroud I can see how that would be out of scope for calling #520 done. Whether its in-scope for our contract more generally isn't a call I can make - let me know if that's a conversation you're asking us to have and I'll bring it to the UCSC team. In the meantime, @snehagunduraoUL is this a ticket you'd be able to begin looking at to assess for difficulty? It's an 8 now but I'm not sure what

[2022-05-17 23:36] rschwab commented on #536
@rmjaffe Scheduling a discussion sounds good to me! TY!

[2022-05-20 17:42] bkiahstroud commented on #519
@rschwab is this something that was handled by BulkOps? If so, how? I'm not seeing any data in the search results that could be used to determine whether a term is deprecated or not

[2022-05-20 19:34] rschwab commented on #519
I don't know if BulkOps handled it. I only discovered its deprecated by clicking the URL, so I'm not sure if there's something returned from LC or Getty when a term is deprecated.

[2022-05-20 19:55] bkiahstroud opened #539 "Exported column headers match imported column headers"
Edit: We decided to go with snake_cased_headers for export format.

# Summary

A couple examples (not exhaustive) -- imported headers (left) vs. exported headers (right):

- `workType` --> `model`
- `titleAlternative` --> `titlealternative`

### Important note

These differences do not affect the success of round trips. I.e. Bulkrax knows that `workType` and `model` refer to the same thing. The ch

[2022-05-24 18:52] rschwab opened #540 "(5) Undefined method `thumbnail_path'"
This error happens when importing works with images using Bulkrax.

Steps to reproduce:
1. Create an importer with values in the filename column that match image files
2. Attach files using the 'Add Cloud files' button
3. Visit a resulting work

Example work: http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/k643b1207?locale=en
Example work: http://digitalcollections-staging

[2022-05-24 19:30] rmjaffe opened #541 "Update display settings to show child vs. parent metadata record on work display page"
### Descriptive Summary

Update display setting so that the metadata record for the representative image (by default, this is the image associated with the first child work) displays on the work landing page instead of the parent-level metadata record.  This change will resolve issues around not being able to view representative child work metadata:

- [Master/Primary Filename not displaying in me

[2022-05-24 19:33] rschwab opened #542 "ActiveJob::SerializationError"
Error message: ActiveJob::SerializationError - Only string and symbol hash keys may be serialized as job arguments, but 0 is a Integer

Editing an existing bulkrax import with a new spreadsheet produced this error.

Importer: http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/139?locale=en#work-entries
Sheet used for the import: https://docs.google.com/spreadsheets/d/1Nb_yfwjSxDF

[2022-05-25 01:28] bkiahstroud commented on #539
@rschwab upon researching, the differences in capitalization (e.g. `titleAlternative` vs. `titlealternative`) actually comes from Ruby's CSV library. Specifically, a setting called [HeaderConverters](https://ruby-doc.org/stdlib-2.6.1/libdoc/csv/rdoc/CSV.html#HeaderConverters).

When Bulkrax reads the CSV file, [it sets the header converters setting](https://github.com/samvera-labs/bulkrax/blob/mai

[2022-05-25 16:48] rschwab commented on #539
@rmjaffe see comment above.

Summary: It appears exporting with the original column header casing isn't possible due to a limitation in the underlying CSV implementation, they'll always get downcased. One workaround would be to use underscores in between words, so titleAlternative would become title_alternative.

[2022-05-25 16:54] rmjaffe commented on #539
+1 for using underscores.  Where would that change need to be reflected apart from external documentation like the data dictionary and bulkrax documentation (namely the examples)?  Would the yaml file need to be updated?

[2022-05-25 17:25] bkiahstroud commented on #539
I think the only place that needs to be touched code-wise would be [the Bulkrax initializer](https://github.com/UCSCLibrary/ucsc-library-digital-collections/blob/sandbox/config/initializers/bulkrax.rb#L38-L96) (the yaml file does _not_ need to be updated).

Is that what you were asking @rmjaffe?

[2022-05-25 17:39] rmjaffe commented on #539
Yes, thanks for clarifying.

[2022-05-25 19:14] rschwab commented on #539
Right, this change would involve changes to the code as Kiah identified, plus updates to the documentation and all of our import spreadsheets.

[2022-05-25 20:01] bkiahstroud commented on #539
@rschwab that wouldn't be strictly necessary; Bulkrax will still be able to import camelcased columns (e.g. `titleAlternative`) just fine. If you want to update them all so they're 100% consistent for round-tripping, that's totally fine, but it isn't necessary.

[2022-05-25 22:52] #534 closed, assigned to nobody

[2022-05-26 00:27] rschwab commented on #517
On [this importer](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/144?locale=en) I created two works with dateOfSituationIngest values of YYYY and YYYY-MM-DD and dateOfSituationDisplay values with strings. The works created are giving this error:
F, [2022-05-25T17:21:19.886461 #10964] FATAL -- : [f0a4a5d8-aeac-4fdb-b795-96989cfef2bc]
F, [2022-05-25T17:21:19.886493 #10964] FAT

[2022-05-26 00:36] rschwab commented on #517
Hmm this same error came up after removing the dateofSituationDisplay and dateofSituationIngest fields on a [new importer with new works.](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/145?locale=en)

[2022-05-26 00:45] rschwab commented on #518
On [this importer](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/146?locale=en) I included a subjectPlace value with an https in the collection, to be inherited by the two works. [This work](http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/t722h885b?locale=en) doesn't display any value for subjectPlace.

I also used an https in the resourceType column

[2022-05-26 15:53] rschwab commented on #507
@rmjaffe I've consolidated all the information we have about inheritance here: [Inheritance Documentation](https://docs.google.com/spreadsheets/d/1_xfRCzJ943Qu6ASvJB5-AMjhRD3EyDLd/edit#gid=169329189). The 2nd tab shows with color coding which fields currently don't match the data dictionary.

There are two fields which should inherit but currently do not: accessRights and description. Sneha is cur

[2022-05-26 17:18] rmjaffe commented on #507
@rschwab Thank you for alerting me to this.

- **accessRights**:  accessRights should inherit, whether it's handed down from collection to the constituent works or from a parent work to its child works.
- **description**:  This one is trickier and I'm guessing I know why it is set to not inherit.  When the DAMS team last talked about this eons ago, we'd decided that while we wanted any child works

[2022-05-26 21:00] bkiahstroud commented on #517
@rschwab I've tracked this down to the metadata schema. I'll be pushing up a fix soon

[2022-05-26 21:11] rschwab commented on #479
I believe this was caused by the https in the URI. Apparently the underlying ruby gem only allows for http. This has been addressed in Bulkrax, so will be fixable with a round-trip update. I'll place this in Ready for Development while Bulkrax work wraps up.

[2022-05-26 21:59] #514 closed, assigned to bkiahstroud

[2022-05-26 22:02] rschwab commented on #474
This issue has come up again, moving back to "Sprint to do".

[2022-05-26 22:25] rschwab opened #543 "Determine inheritance for description field"

[2022-05-26 22:27] rschwab commented on #543
Maybe this could be accomplished with a method in the has_local_processing file?

[2022-05-26 22:32] rschwab opened #544 "Fields that should not inherit currently are"

[2022-05-26 22:33] rschwab commented on #507
Sounds good to me. I've begun updating the Data Dictionary with a new tab.

I'm going to mark this ticket closed and break the discussion out into the constituent issues.
UCSCLibrary/ucsc-library-digital-collections#406 for access rights
UCSCLibrary/ucsc-library-digital-collections#368 for description
UCSCLibrary/ucsc-library-digital-collections#369 for the others that should not inherit.

[2022-05-26 22:33] #507 closed, assigned to bkiahstroud

[2022-05-26 22:36] rschwab opened #545 "Evaluate ADD Inheritance feature"

[2022-05-27 18:36] rschwab commented on #545
One potential issue here is what happens when ingests constructed with ADD inheritance get updated/round-tripped. In the most straightforward implementation, the resulting works would have multiple values with the same subject terms, because there is no code that first checks existing values for duplicates.

If we implemented a "simple multi-value import" that first erased all existing values in a

[2022-05-27 20:45] bkiahstroud commented on #518
@rschwab this ended up being due to a race condition (as opposed to https vs. http). I have a fix for this [here](https://github.com/UCSCLibrary/ucsc-library-digital-collections/pull/301)

[2022-05-27 21:52] rschwab commented on #516
[Software updates on Sandbox and Staging](https://docs.google.com/document/d/1lRmIZRIBX7yrj0co07HAgzPBNbY29Oot6t_ABZfEEVQ/edit)

[2022-05-27 21:54] #516 closed, assigned to snehagunduraoUL

[2022-05-31 18:11] bkiahstroud commented on #542
@rschwab I'm having trouble reproducing this locally. Is this something that happens consistently? If so, can you add details of how to reproduce the error?

[2022-05-31 18:23] rschwab commented on #542
Interesting, it seems to work on staging now as well. I should have grabbed the error log when I saw it. I'll close this for now and  keep an eye out for this error in case I can grab a log.

[2022-06-01 18:25] #324 closed

[2022-06-01 18:29] #421 closed

[2022-06-01 18:34] rschwab commented on #383
QA still needs to be confirmed on original issue.

@JessWaggs When you have a moment could you create the tickets you described in the comments above?

[2022-06-01 18:41] rschwab commented on #491
Property does not display on front-end for at least some works. This could be due to the work being ingested with the old property name.

[2022-06-01 18:48] snehagunduraoUL opened #546 "Make the thumbnail size uniform in the A-Z list"

[2022-06-01 19:01] rschwab commented on #484
@rmjaffe forgot to tag you, there is an unexpected behavior here, so its back into "ready for development" for now. See above.

[2022-06-01 19:03] rschwab commented on #546
Background info can be found in #277

[2022-06-01 19:05] rmjaffe commented on #480
@rschwab Can you confirm that the indexing recommendations noted in the comments are what moved forward, if anything moved forward?  Any idea as to the status of this card?  If nothing has been implemented yet, would it make sense to wait until after Jess has made her recommendations?

[2022-06-01 19:15] rschwab opened #549 "Option to overwrite multi-valued fields on import"

[2022-06-01 19:34] rmjaffe commented on #441
Determined that this card is obsolete.

[2022-06-01 19:34] #441 closed, assigned to nobody

[2022-06-02 00:22] rschwab commented on #480
In terms of status, this code and all the other stuff in PR 155 were merged into Staging and subsequently into Sandbox. None of it is yet in Production. I think these are sensible enough for some default indexing until we can get confirmation on what they should be for the long term. Ideally, we can get those recommendations in place before we merge to production, so we can do a single re-index. B

[2022-06-02 00:27] rmjaffe commented on #480
@JessWaggs Hi Jess, the DAMS Assessment group has been review some of the tickets on our project board (hence the flurry of @JessWaggs) and I'm wondering if or when you have time to give some thoughts to keyword searching/indexing.  No pressure, but if it's low hanging enough, it'd be nice to wrap this one up.

[2022-06-02 19:52] rschwab opened #550 "Error on "Create and Validate" importer button"
To re-create: Create a new importer using Bulkrax, then click the "Create and Validate" button.

From the log:
F, [2022-06-02T12:49:19.366999 #10450] FATAL -- : [42600a8c-ee76-4601-aba6-446e271875cc] Errno::EACCES (Permission denied @ rb_sysopen - tmp/imports/150_20220602194919/qasheet5-25.csv):

[2022-06-02 20:10] rschwab commented on #517
This works now, great work Kiah!

[2022-06-02 20:24] rschwab commented on #518
Still finding issues with this.

Using [this importer](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/151?locale=en):
- [This work](http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/d791sg170?locale=en) had a type value that included https and a trailing slash. It should resolve to "Image" but instead a local authority term was created using the URI as

[2022-06-02 20:27] rschwab commented on #533
This appears to have been resolved. Thank you!

[2022-06-02 20:29] rschwab commented on #458
@rmjaffe Can you confirm whether this issue still exists on [Sandbox](http://digitalcollections-staging-sandbox.library.ucsc.edu/?locale=en)? I think we'll need to fix this with a future Bulkrax round-trip, but wanted to double-check.

[2022-06-02 20:33] rschwab commented on #458
Actually this problem doesn't exist on Sandbox because this collection doesn't exist on Sandbox. I'm moving back to "Ready for Development" because the issue exists on production.

[2022-06-02 21:35] rschwab commented on #526
Some more test results from today.

[Test sheet](https://docs.google.com/spreadsheets/d/1kSEhE9KUgJ6QyUjZoBkmrS_Uiwb22224MQnf14jAqeU/edit?usp=sharing)
[Importer](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/152?locale=en)
[Test Work](http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/j6731380t?locale=en)

The value for subjectPlace shows ("California")

[2022-06-02 21:37] rschwab commented on #519
Yay matching is working... exactly.

Genre is still broken when importing a deprecated term, but I can appreciate that is perhaps out of scope here. I'll move this to deploy, and have noted this issue in our documentation with the workaround of using an updated term and round-tripping.

Thanks Kiah!

[2022-06-03 18:10] #505 closed, assigned to crisr15

[2022-06-03 18:11] rschwab commented on #506
Define bulkrax specific terms like ‘importer’
Step-by-step instructions would be helpful
Examples/use cases (especially for round tripping) would be helpful
Sample ingest spreadsheet that conforms to Bulkrax ingest specifications
Sample export spreadsheet
Explanation of common error types or error messages would be helpful

[2022-06-03 18:23] rschwab commented on #458
Probably will be resolved by UCSCLibrary/ucsc-library-digital-collections#412

[2022-06-03 20:12] rschwab commented on #474
Related to #530

[2022-06-03 20:13] rschwab commented on #530
Possible duplicate of #474

[2022-06-03 20:53] snehagunduraoUL opened #551 "Add our jenkins pipeline to ITS jenkins instances"
Currently we are running jenkins on our deploy server. In future, we would move our pipelines to ITS jenkins instances.

[2022-06-03 22:01] bkiahstroud commented on #518
Initial investigation points to this being a problem with ScoobySnacks. I'll add details soon

[2022-06-03 22:03] bkiahstroud commented on #538
Currently seeing this error on sandbox after the PR was deployed:

[code]

Need to determine why the sever doesn't seem to be able to find the `kdu_compress` script. I'm coordinating with @snehagunduraoUL with possibly doing a rollback to investigate if the most recent code merge is responsible.

[2022-06-03 23:58] snehagunduraoUL opened #552 "Updating a pending importer errors out."
Background: Had a pending importer that took too long to succeed/fail.
Steps to recreate:
1. Click on the pending importer
2. Click Edit on the bottom
3. Change anything on the form
4. Click on update importer.

<img width="1252" alt="Screen Shot 2022-06-03 at 4 57 54 PM" src="https://user-images.githubusercontent.com/92340457/171968036-1b81a3d3-e359-45cf-9783-657714f7fa66.png">

Related : https:/

[2022-06-04 01:15] rmjaffe commented on #214
Examples of objects requiring ordering: https://docs.google.com/document/d/1kfc2Xc8VUGxqo9jM-bkYDqX_lPOWnziDjqLu_Pvvcxg/edit?usp=sharing

[2022-06-04 01:20] rmjaffe commented on #508
UCSC & N8 teams agreed that this work is in hand and that we can close out this card.

[2022-06-04 01:20] #508 closed, assigned to nobody

[2022-06-06 16:00] bkiahstroud commented on #214
I was just informed by another Bulkrax maintainer on our team that this feature was recently implemented into Bulkrax. The [Bulkrax v3.0.0 release](https://github.com/samvera-labs/bulkrax/releases/tag/v3.0.0) included [this PR](https://github.com/samvera-labs/bulkrax/pull/431), which orders child records by their order on the ingested CSV.

I apologize for the back-and-forth confusion around this

[2022-06-06 16:27] snehagunduraoUL opened #553 "(1)Assist with security agent installation"

[2022-06-06 16:42] rschwab opened #554 "(5) Merge and deploy code on Staging and Production."

[2022-06-06 20:32] bkiahstroud commented on #214
It's worth noting that the order that records go into the system via a Bulkrax ingest is not guaranteed to be the order that gets served by the application:

Some Hyrax users have had problems getting ordered records to behave consistently, even outside the context of Bulkrax

[2022-06-06 22:26] rschwab commented on #532
Hit this again today.

Log output:
`d1148]   Bulkrax::Status Load (2.3ms)  SELECT `bulkrax_statuses`.* FROM `bulkrax_statuses` WHERE `bulkrax_statuses`.`statusable_id` = 163 AND `bulkrax_statuses`.`statusable_type` = 'Bulkrax::Importer'

D, [2022-06-06T15:21:58.351202 #428] DEBUG -- : [ced9e494-eb0c-4caf-adb1-504a276d1148]   Bulkrax::Status Destroy (0.2ms)  DELETE FROM `bulkrax_statuses` WHERE `bu

[2022-06-06 22:28] rschwab commented on #552
Saw this one today. Log output:
`D, [2022-06-06T15:27:29.644224 #428] DEBUG -- : [c1ad142f-8c2e-441d-a6d2-34cc8036fe7b]   Bulkrax::ImporterRun Load (0.3ms)  SELECT  `bulkrax_importer_runs`.* FROM `bulkrax_importer_runs` WHERE `bulkrax_importer_runs`.`importer_id` = 162 ORDER BY `bulkrax_importer_runs`.`id` DESC LIMIT 1

I, [2022-06-06T15:27:29.646635 #428]  INFO -- : [c1ad142f-8c2e-441d-a6d2-34cc8

[2022-06-07 00:08] rschwab commented on #540
Here is [the last commit to touch ucsc_thumbnail_helper.rb](https://github.com/UCSCLibrary/ucsc-library-digital-collections/commit/f5f3ccb6cb8757cef4fdf2b1e6d3e8b029415a29)

[2022-06-07 18:35] snehagunduraoUL opened #555 "Work showpage errors out for works with filesets"
Steps to recreate:
1. Create an importer with filesets. I used this
workType,bulkrax_identifier,parent,access_rights,title,filename
Work,i0,,public,title_of_parentwork1
Fileset,j0,i0,,child__work1,sample.tif

2. Create and Import
3.  When the import is complete, click on the work which takes you to work showpage.

[2022-06-07 18:41] bkiahstroud commented on #518
Following up on the above. In ScoobySnacks, a "controlled value" is a property whose values should always be URIs. In the application currently, `resourceType` is considered by ScoobySnacks to be a controlled value:

[code]

However, while Hyrax also considers `resourceType` (aka `resource_type`) to be a "controlled field", it handles its controlled fields differently. The controlled values for th

[2022-06-07 19:28] bkiahstroud commented on #555
@snehagunduraoUL so far I haven't been able to reproduce this locally. Did you 1) upload a CSV and select the `sample.tif` using the Cloud Files button, or 2) upload a zip with the CSV and the TIF?

Also, could you please include the logs from the error on the sandbox server? That would help a ton

[2022-06-07 22:12] bkiahstroud commented on #552
@rschwab how did this CSV get onto the server? Was it uploaded through the Importer form? I [just tried that](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/165?locale=en) and it's working for me.

The file from those error logs `tmp/imports/162_20220606214910/qasheet6-6.csv` has really strange permissions that are causing the `Errno::EACCES` error: `---xrwx--t`

[2022-06-07 22:14] bkiahstroud commented on #552
Note: I'm [seeing similar errors](https://share.getcloudapp.com/jkuXnA59) in [the Sidekiq dashboard](http://digitalcollections-staging-sandbox.library.ucsc.edu/sidekiq/retries) (ignore image markup)

[2022-06-07 22:16] bkiahstroud opened #556 "ActiveFedora::ModelMismatch error in InheritMetadataJob"
![SANDBOX  Sidekiq 2022-06-07 at 3 13 44 PM](https://user-images.githubusercontent.com/32469930/172492479-d6d8993e-c3c0-4a2e-9d2d-6bff29a50ff0.jpg)

[2022-06-08 16:41] rschwab commented on #552
Yes, I've only added spreadsheets via the Importer configuration screen in Bulkrax.

Edited to note I also saw those permissions. Additionally it looked like sometime between 6/3 and 6/6 the group assignment changed for imports on the server, from hyrax:diginit to hyrax:hyrax. The permissions and ownership of the spreadsheet on my local machine were different than what ended up on the server.

[2022-06-08 16:44] rschwab commented on #555
Potentially related to #540

[2022-06-09 04:21] snehagunduraoUL commented on #538
This kdu_compress error does not exist after reverting the code.
http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/167?locale=en

[2022-06-09 04:24] snehagunduraoUL commented on #474
Pausing the MR push until finals week.

[2022-06-09 04:25] snehagunduraoUL commented on #553
This ticket would also be addressed after finals week.

[2022-06-09 04:53] snehagunduraoUL commented on #552
The csv I uploaded caused the below error
<img width="1275" alt="Screen Shot 2022-06-08 at 9 52 04 PM" src="https://user-images.githubusercontent.com/92340457/172766912-2edfa78f-e218-4b72-8d8b-7537b3a7db14.png">
So when trying to update the importer with corrected csv, the below page occurs.
https://user-images.githubusercontent.com/92340457/171968036-1b81a3d3-e359-45cf-9783-657714f7fa66.png

[2022-06-17 19:30] rschwab commented on #520
UCSCLibrary/dams_project_mgmt#540 I would call a release blocker.

[2022-06-22 16:35] #553 closed, assigned to snehagunduraoUL

[2022-06-23 20:39] rschwab commented on #540
This error does not occur when manually creating a work and attaching a file via cloud files. Example: http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/nv9352905?locale=en

[2022-06-24 19:28] snehagunduraoUL opened #557 "(5) Deploy stack car to production"
Currently the production deployment uses ucsc_dev_docker. Replace that with stack car.

[2022-06-28 16:11] bkiahstroud commented on #540
@rschwab I'm unable to reproduce this locally or on sandbox. [Here](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/172?locale=en) is an importer I successfully ran on sandbox following the instructions in the ticket's description.

Have you seen this on any other importers?

[2022-06-28 21:22] bkiahstroud commented on #540
Oddly, I just got this error locally for an import that didn't have any files at all. The error makes it sound image-related, but maybe the error message is a red herring... I'll keep digging

[2022-06-28 23:41] bkiahstroud commented on #540
Eureka! This error happens when navigating to a Work's show page that has a child Work who doesn't have a thumbnail. [This PR](https://github.com/UCSCLibrary/ucsc-library-digital-collections/pull/320) has more details as well as a bug fix.

[2022-06-29 16:59] rschwab commented on #214
We will need this to work consistently and predictably, so kicking back to ready to development so we can implement the feature as described in the ticket description.

[2022-06-29 18:10] rmjaffe commented on #448
All jpgs in the collection have been converted to tiffs; still need to confirm minor updated to the ingest spreadsheets.

[2022-06-29 22:37] rmjaffe commented on #448
@rschwab @snehagunduraoUL Would you mind having a look at the ingest spreadsheets?  I brought them up to where I think they should be based on the documentation available and related GitHub tickets.  I'm unable to add anything to or delete anything from dams_ingest, but the most current versions of the spreadsheets or on Artifacts2 in the DOMTP Pre-Ingest folder.  Thanks!

[2022-06-30 20:20] rschwab commented on #540
Thanks, Kiah, that fixed the bug described in this ticket.

[2022-06-30 20:42] rschwab opened #558 "Error: ActiveJob::SerializationError"
Closed as duplicate, description in info moved to #542

[2022-07-01 17:56] rschwab commented on #558
Oops, this is a duplicate of #542

[2022-07-01 17:56] #558 closed, assigned to nobody

[2022-07-01 17:57] rschwab commented on #542
Another example:
When importing with bulkrax using cloud file attachments from the server, works throw this error.

Example importer: http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/180

Copy of the importer spreadsheet: https://docs.google.com/spreadsheets/d/11k4hAg7PXiyrJ2KKQB2SUqMjjdHJxthv1AI2VE0QbPw/edit#gid=0

[2022-07-01 20:44] bkiahstroud commented on #542
This error occurs when importing a work using Bulkrax that meets the following criteria:

- Imports at least one controlled field
- Has a filename in the `filename` column

[2022-07-05 23:34] snehagunduraoUL opened #559 "Update dependabot suggested software upgrades"
https://github.com/UCSCLibrary/ucsc-library-digital-collections/pulls

[2022-07-05 23:54] rschwab commented on #542
Thank you, Kiah!

[2022-07-06 00:07] rschwab opened #560 "Image derivatives not created in sandbox"
When importing using bulkrax, images attached via cloud files do not display. Audio files are working, so this issue appears to be limited to creating and displaying image derivatives. I don't know if the issue would exist in production or not.

[Example importer](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/188?locale=en)
[Image work example](http://digitalcollections-stag

[2022-07-06 20:48] rschwab commented on #560
A test with filesets: [Importer](http://digitalcollections-staging-sandbox.library.ucsc.edu/importers/189), [work with image fileset](http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/v405s939v?locale=en), [work with audio fileset](http://digitalcollections-staging-sandbox.library.ucsc.edu/concern/works/5712m6592?locale=en), [image from fileset](http://digitalcollections-sta

[2022-07-08 21:42] rschwab opened #561 "Cannot load ruby-progressbar"
Trying out the relationship script gave an error.

Some output:
[code]

[2022-07-11 16:36] rschwab opened #562 "QA relationships script"

[2022-07-11 17:24] rmjaffe opened #563 "Update to new version of Kakadu"
### Descriptive Summary

Kakadu Software has let us know that there's a new version of the software available.  We want to investigate, if possible, what is included in the update, what if any impacts there might for the DAMS (especially in light of other image related issues), and decide whether or not to install the new version.

### Background

Kerry received the following message from Kakadu S

[2022-07-11 17:27] #451 closed, assigned to chesleyperry, rmjaffe

[2022-07-11 17:28] #168 closed

[2022-07-11 17:32] rmjaffe commented on #453
Closing.  Work added to UCSCLibrary/ucsc-library-digital-collections#373

[2022-07-11 17:32] #453 closed, assigned to nobody

[2022-07-11 17:32] rmjaffe commented on #300
Closing. Work added to UCSCLibrary/ucsc-library-digital-collections#373

[2022-07-14 20:11] snehagunduraoUL opened #564 "Fix CSV permission issue on production"
Sidekiq shows a permission issue for the import csv.

[2022-07-14 20:16] rmjaffe opened #565 "Footer occludes content on DAMS pages"
### Descriptive Summary

A patron alerted us a display issue where the DAMS footer, depending on size of the user's display screen, can occlude content on the DAMS pages.

Example:
<img width="1252" alt="Screen Shot 2022-07-14 at 1 12 56 PM" src="https://user-images.githubusercontent.com/32003407/179074937-5610ad03-dd62-4986-83f0-0309675f5d45.png">

After consulting with Jess, we've determined tha

[2022-07-19 22:34] rmjaffe commented on #462
I'm closing this -- I'm able to search and add controlled name headings from LC, ULAN and our local name file in production.

[2022-07-19 22:34] #462 closed, assigned to sara-g

[2022-07-19 22:47] rmjaffe opened #566 "Ability to add uncontrolled terms to controlled fields when editing metadata records in DAMS"
### Descriptive Summary

When making one-off edits to metadata records in the DAMS, I am unable to add uncontrolled values to controlled metadata fields, e.g. subjectTopic, subjectName, genre, etc.  In the example below, I am attempting to add "Scott, Kerry" as name to my metadata record.  As there is not match in LC, ULAN or in our local list, I'm unable to add Kerry's name.

<img width="848" alt

[2022-07-20 22:23] rmjaffe commented on #484
This appears to have been resolved.

[2022-07-22 16:21] #484 closed

[2022-07-22 16:22] rmjaffe commented on #490
Seems to be working fine.

[2022-07-22 16:22] #490 closed, assigned to nobody

[2022-07-22 18:09] rschwab opened #567 "Inheritance seems to be broken"
Inheritance seems not to be working post deployment to production. More details TBD.

[2022-07-22 18:12] #557 closed, assigned to snehagunduraoUL

[2022-07-22 18:13] #542 closed, assigned to bkiahstroud

[2022-07-22 18:14] #502 closed, assigned to bkiahstroud

[2022-07-22 18:15] #554 closed, assigned to snehagunduraoUL

[2022-07-22 18:16] #497 closed, assigned to bkiahstroud

[2022-07-22 18:17] #512 closed, assigned to bkiahstroud

[2022-07-22 18:19] #495 closed, assigned to bkiahstroud

[2022-07-22 18:19] #524 closed, assigned to summer-cook

[2022-07-22 18:20] #511 closed, assigned to bkiahstroud

[2022-07-22 18:21] #501 closed, assigned to bkiahstroud

[2022-07-22 18:21] #496 closed, assigned to nobody

[2022-07-22 18:22] #494 closed, assigned to nobody

[2022-07-22 18:23] #517 closed, assigned to bkiahstroud

[2022-07-22 18:23] #498 closed, assigned to bkiahstroud

[2022-07-22 18:23] #537 closed, assigned to bkiahstroud

[2022-07-22 18:24] #556 closed, assigned to bkiahstroud

[2022-07-22 18:25] #493 closed, assigned to nobody

[2022-07-22 18:25] #528 closed, assigned to summer-cook

[2022-07-22 18:38] rmjaffe commented on #485
@snehagunduraoUL Just checked to see if this was still and issue on production.  It doesn't appear to be.  Rather the issue is that the primaryFilename is not display as a descriptive metadata value at all. I'm surprised someone hasn't reported this as an issue as we ask patrons to supply filenames when requesting reproductions.

[2022-07-22 19:05] #506 closed, assigned to nobody

[2022-07-22 19:08] rmjaffe commented on #491
As noted in the comments on Duplication of metadata fields: "Master Filename" and "Master File Name" UCSCLibrary/ucsc-library-digital-collections#417, neither a field labeled Master Filename or Primary Filename is displaying on the records in production.  Apart from that related bug, I'm assuming this ticket is close? @rschwab @snehagunduraoUL

[2022-07-22 19:12] rmjaffe commented on #336
Still an issue, at least with the image in the example.

[2022-07-22 19:13] rmjaffe commented on #465
Still an issue

[2022-07-22 19:29] rmjaffe opened #568 "Recreate DAMS project and roadmap boards"
### Descriptive Summary

In advance of reconvening as a non-assessment project team, we've decided that we'd like to refresh our boards and relocate them to the [ucsc-library-digital-collections](https://github.com/UCSCLibrary/ucsc-library-digital-collections) repo.

The existing boards will be closed out.

### Acceptance Criteria

This is what done looks like:

* [ ] New project board created usi

[2022-07-22 20:02] rmjaffe opened #569 "Reparative Description Project: Changes to DAMS metadata"
### Descriptive Summary
As part of the Archival Reparative Description Project, archivists identified a number of changes/updates they'd like to make to metadata records in the DAMS:  https://docs.google.com/spreadsheets/d/1AxLTjobNet2OPaU4R_tFmUJeQvhaiYKde15z6ejF4JI/edit#gid=0

These changes can be made manual through the DAMS edit interface.  Can either be done by a DAMS team member or packaged

[2022-07-25 17:09] #491 closed, assigned to nobody

[2022-07-26 19:16] rmjaffe opened #570 "Grateful Dead Media Collection"
### Descriptive Summary

Now that the Grateful Dead media content is now publicly accessible in the DAMS, we are wanting to do some minor enhancements to bring the collection in-line with other collections in the DAMS.

SC&A will identify a new representative image for the media collection, draft a collection description, and select a collection-level rights statement to be used for this set of ma

[2022-07-26 19:17] rmjaffe commented on #570
@tmariamora if you would please, please include the collection description and rights statement in the comments.  Thanks!

[2022-07-26 19:22] rmjaffe commented on #570
Representative image:
![image](https://user-images.githubusercontent.com/32003407/181094289-8e01c7a0-ac59-4e4e-9d7d-15f4153a0f47.png)

[2022-07-26 23:06] tmariamora commented on #570
Rights statement (pulled from records in GDAO):
This work is available from the UC Santa Cruz Library. This digital copy of the work is intended to support research, teaching, and private study. This work is protected by U.S. Copyright Law (Title 17, U.S.C.). Use of this work beyond that allowed by fair use requires written permission of the copyright holder(s). Responsibility for obtaining permis

[2022-07-26 23:08] tmariamora commented on #570
As for a collection description is this too vague? In a cursory review it looks like the selections were pulled from both the archival collection as well as individually cataloged carriers so it's hard to provide more of a synopsis.

Collection Description:

Selected audio files from the Grateful Dead Records. Recordings along with additional descriptive information are also available at gdao.org.

[2022-07-27 16:46] rschwab commented on #550
Just ran into this in production. https://digitalcollections.library.ucsc.edu/importers/2?locale=en

Permissions on the server:
`[ryans@digitalcollections ~]$ ll /dams_derivatives/tmp/production/imports/
total 40
drwxrwxrwx. 3 sufia 1132147697 4 Jul 14 11:15 1_20220714181534
drwxrwxr-x. 2 sufia sufia      3 Jul 27 09:30 2_20220727163004`

[2022-07-27 16:55] rschwab commented on #550
Same thing with another importer this time using the "Create and Import" button, so it seems to be happening regardless of how the importer is created.

[2022-07-27 17:02] rschwab commented on #550
Probably same issue as #564

[2022-07-27 20:11] rmjaffe opened #571 "Update language in About our Collections box on A-Z pages"
### Descriptive Summary

Update language in the About the UCSC Digital Collection box on the [A-Z page](https://digitalcollections.library.ucsc.edu/collections).

**Current language:** Explore over 100,000 digitized items from UCSC Special Collections & Archives. This site is a living database with new photographs, documents, maps, audio and video added regularly. While only a small fraction of th

[2022-07-27 21:56] #532 closed, assigned to bkiahstroud

[2022-07-27 22:13] #519 closed, assigned to bkiahstroud

[2022-07-28 20:36] #513 closed, assigned to bkiahstroud

[2022-07-28 20:55] #499 closed, assigned to bkiahstroud

[2022-07-28 20:59] #539 closed, assigned to bkiahstroud

[2022-07-28 21:21] rschwab opened #572 "NoMethodError: undefined method `casecmp'"
This error came up while attempting a round trip.

[2022-07-28 21:33] #521 closed, assigned to bkiahstroud

[2022-07-28 21:34] #533 closed, assigned to bkiahstroud

[2022-08-01 22:26] #555 closed, assigned to bkiahstroud

[2022-08-01 22:52] rmjaffe commented on #455
@snehagunduraoUL @rschwab Do we think this will require a roundtrip to correct or is it something that can be fixed another way?

[2022-08-01 23:31] rschwab commented on #455
This could be done with either a round trip, or editing individual works manually. Example work edit page: https://digitalcollections.library.ucsc.edu/concern/works/2z10wr692/edit?locale=en

[2022-08-02 00:22] rmjaffe commented on #455
There are too many of these so I don't think editing individual works is a practical option -- just tracking down all the works with busted descriptions would be a challenge.  I'm just bummed that it will require a roundtrip (what I feared).  As a ton of editing has been done on the metadata records in the DAMS, I can't reuse the original ingest sheet.  The descriptions are going to be a #%@* mess

[2022-08-02 03:31] rmjaffe commented on #485
Just noticed that there's a very similar card, Master filename not automatically displaying in metadata records #536.  @snehagunduraoUL Can you review these and confirm that these cards are describing the same issue?  If so, I'll remove #536.

[2022-08-02 05:00] rmjaffe commented on #480
Given that we've swapped our usage of rightsStatement and rightsStatus, we will want to change our indexing decisions for those two properties:

Current:
rightsStatement
rightsStatus (index)

Update to:
rightsStatement (index)
rightsStatus

[2022-08-02 15:16] rschwab commented on #455
If descriptions haven't been edited post-ingest, you could export the collection, remove all the description columns, then add in the original description column from the ingest sheet.

[2022-08-02 15:18] #561 closed, assigned to nobody

[2022-08-02 15:27] rmjaffe commented on #455
Yeah, totally.  Unfortunately it's not clear where Frank added names or made edits to titles, descriptions or other elements of the records ... :(

[2022-08-02 15:27] rmjaffe commented on #455
When we export the date we'll see how bad or not bad it is.

[2022-08-02 16:58] #510 closed, assigned to snehagunduraoUL

[2022-08-02 17:05] rmjaffe commented on #482
Tested this on a few objects and I'm not getting the error.

[2022-08-02 17:23] rmjaffe commented on #531
@snehagunduraoUL Just tried to reproduce this.  I'm not getting an error, rather when I'm on the catalog page and then login, after submitting my credentials I'm redirected to the Dashboard.

[2022-08-02 17:35] rmjaffe commented on #336
As we've encountered no other image with this issue, I'm moving this ticket to Obsolete and creating a new collection cleanup ticket for this image to be replaced/roundtripped.  Will reference this ticket in the cleanup ticket in case the error remains.

[2022-08-02 18:43] #531 closed, assigned to snehagunduraoUL

[2022-08-02 19:58] rmjaffe commented on #458
As this issue is noted and will be resolved once we implement our interim complex image objects display strategy (either UCSCLibrary/ucsc-library-digital-collections#412 or #[395](https://github.com/UCSCLibrary/ucsc-library-digital-collections/issues/395)), I'm retiring this card.

[2022-08-02 22:23] #277 closed